/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Global Styles */

body {
    background-color: #f8f8f8;
}

a {
    color: #208fc7;
}

a:hover {
    color: #215c7a;
}

/* Wrappers */

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: white;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid darken(#cccccc, 6.5%);
    }
}

/* Navigation */

/* --Topbar */

.navbar-static-top {
	background-color: #215c7a !important;
    min-height: 85px;
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li a {
    padding: 32px;
    min-height: 50px;
    color: white;
}

.navbar-top-links li a:hover {
    color: #215c7a;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
    color: #208fc7;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

/* --Sidebar */

.sidebar {

	background-color: #f8f8f8 !important;

    .sidebar-nav.navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid darken(lighten(#000, 97.25%), 6.5%);
    a {
        &.active {
            background-color: lighten(#000, 93.5%);
        }
    }
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active > a > .fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: none !important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 85px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

/* Buttons */

.btn {
    border-radius:0px;
    border: none;
}

.btn-primary {
    background-color: #208fc7;
}

.btn-primary:hover {
    background-color: #215c7a;
}

/* Table */

thead {
    background-color: #dedede; 
    color: #215c7a;
}

.wice-grid > tbody tr:hover, .tr-clickable tr:hover {
    cursor:  pointer;
}

.thumbnail-table {
    width: 100px;
    height: 100px;
}

.sort-btn {
    width: 50px;
    background-color: #ddd !important;
    text-align: center;
    padding-top: 15px !important;
}

.sort-btn:hover {
    background-color: #ccc !important;
}

/* Flash message */

.flash-message {
    margin-top: 15px;
}

.title-flash {
    font-weight: bold;
}

/* Form */

.txtError {
    color:#a94442;
    font-size: 12px;
}

label.required:after {
    content: " *";
    color: #a94442;
}

/* Element */

.full_account {
    color: #a94442;
}
