<div class="row">
  <div class="col-md-12">
    <h1>Your courses</h1>
    <hr>
  </div>
  <% @contents.each do |content| %>
  <div class="col-md-4 padding-box">
    <div class="box">
      <div class="image-content">

        <a href="<%= content_path(content) %>">
          <div class="box-hover">
            <h2>
              Click to learn
            </h2>
          </div>
        </a>

        <%= image_tag(content.thumbnail, :alt => content.name, :class => "img-responsive") %>

      </div>
      <div class="supports">
        <div class="row row-no-gutter">
          <% content.supports.each do |support| %>
            <div class="col-md-4">
              <a href="<%= content_support_path(content, support) %>"/>
                <div class="support <%= 'done' if support.support_type.name == 'Grammar' %>">
                  <i class="fa <%= support.support_type.icon %>" aria-hidden="true"></i>
                  <h1><%= support.support_type.name %></h1>
                </div>
              </a>
            </div>

          <% end %>

        </div>
      </div>
    </div>
  </div>

  <% end %>

</div>
