<% content_for :sidebar do %>
    <%= render 'chapters/sidebar', chapters: @chapters, current_chapter: @chapter, current_content:@content, support: @supports  %>
<% end %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <span class="prefix-title"><%= 'STEP ' + @content.chapter.number.to_s %></span>
    <h1>LESSON <b><%= @content.name.upcase %></b></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-12">
    <% SupportCategory.all.each do |sc|  %>
      <h2>
        <%= sc.name.upcase %>
      </h2>
      <div class="row">

        <% @content.supports.where(support_category: sc, level: (current_user.type == "Student" ? [0, User.levels[current_user.level]] : [0..2])).each do |support| %>

          <div class="col-md-3 col-sm-6 col-xs-6 padding-box  <%= 'support_badge' + " " +support.degree_achievement(current_user) if support.support_type.name == "Quiz" %>" data-badge="<%= support.score_by_user(current_user).round %>% " >
            <div class="box">
              <div class="image-content support-item <%= support.degree_achievement(current_user) %>">

                <a href="<%= chapter_content_support_path(@chapter, @content, support) %>">
                  <div class="box-hover-support">
                    <div>Click to start</div>
                  </div>
                </a>

                <div class="support-cat">
                  <i class="fa <%= support.support_type.icon %> fa-3x" aria-hidden="true"></i>
                  <span class="text-cat">
                    <%= support.name %>
                  </span>
                </div>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    <% end %>
  </div>
</div>