<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
     <div class="field">
      <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: :email, class: 'form-control' %>
      <div class="txtError"><%= f.object.errors.get(:email).first %></div>
    </div>

    <div class="actions">
      <%= f.submit 'Resend confirmation instructions', class: 'btn btn-block btn-login' %>
    </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
</br>
