<!-- TODO : Plus propre de mettre le breadcrumb dans le controlleur (besoin de générer les controlleurs devise juste pour ça ?) -->

<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-12">
    <% add_breadcrumb "Edit Profile" %>

    <div class="row">
      <div class="col-md-10">
        <span class="prefix-title"><%= current_user.type %> account</span>
        <h1>EDIT PROFILE <b><%= current_user.full_name %></b></h1>
      </div>
      <div class="col-md-2">
        <% if current_user.type == 'Private' %>
            <a href="<%= history_path %>" class="btn btn-primary">History of purchases</a>
        <% end %>
      </div>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, class: "form-horizontal"}) do |f| %>

        <%= devise_error_messages! %>
        </br>

        <div class="form-group">
          <div class="col-sm-2 text-right">
            <%= f.label :first_name, class: "control-label required" %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
            <span class="txtError"></span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-2 text-right">
            <%= f.label :last_name, class: "control-label required" %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :last_name, class: "form-control" %>
            <span class="txtError"></span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-2 text-right">
            <%= f.label :address, class: "control-label" %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :address, class: "form-control" %>
            <span class="txtError"></span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-2 text-right">
            <%= f.label :zip, class: "control-label" %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :zip, class: "form-control" %>
            <span class="txtError"></span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-2 text-right">
            <%= f.label :city, class: "control-label" %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :city, class: "form-control" %>
            <span class="txtError"></span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-2 text-right">
            <%= f.label :email, class: "control-label required" %>
          </div>
          <div class="col-sm-6">
            <%= f.email_field :email, class: "form-control" %>
            <span class="txtError"></span>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <div class="col-sm-2 text-right">
            <%= f.label :password, class: "control-label" %> <i>(leave blank if you don't want to change it)</i>
          </div>
          <div class="col-sm-6">
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            <span class="txtError"></span>
            <% if @minimum_password_length %>
                <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-2 text-right">
            <%= f.label :password_confirmation, class: "control-label" %>
          </div>
          <div class="col-sm-6">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            <span class="txtError"></span>
          </div>
        </div>

        <% if current_user.type == 'Private' %>

            <div class="form-group">
              <div class="col-sm-2 text-right">
                <%= f.label :level, class: "control-label" %>
              </div>
              <div class="col-sm-6">
                <% User.levels.each do |level, key| %>
                    <label class="radio-inline">
                      <%= f.radio_button :level, level %>
                      <%= level.humanize %>
                    </label>
                <% end %>
              </div>
            </div>

        <% end %>


        <div class="form-group well">
          <div class="col-sm-2 text-right">
            <%= f.label :current_password, class: "control-label" %>
            <i>(we need your current password to confirm your changes)</i>
          </div>
          <div class="col-sm-6">
            <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
            <span class="txtError"></span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> Edit</button>
          </div>
        </div>

    <% end %>
  </div>
</div>