<%= form_for(resource, as: resource_name, url: private_registration_path(resource_name), html: {class: "form-horizontal"}) do |f| %>

    <%= f.text_field :first_name, autofocus: true, placeholder: :first_name, class: 'form-control' %>
    <div class="txtError"><%= f.object.errors.get(:first_name).first %></div>

    <%= f.text_field :last_name, autofocus: true, placeholder: :last_name, class: 'form-control' %>
    <div class="txtError"><%= f.object.errors.get(:last_name).first %></div>

    <%= f.email_field :email, autofocus: true, placeholder: :email, class: 'form-control' %>
    <div class="txtError"><%= f.object.errors.get(:email).first %></div>

    <%= f.password_field :password, autofocus: true, placeholder: :password, class: 'form-control' %>
    <div class="txtError"><%= f.object.errors.get(:password).first %></div>

    <%= f.password_field :password_confirmation, autofocus: true, placeholder: :password_confirmation, class: 'form-control' %>
    <div class="txtError"><%= f.object.errors.get(:password_confirmation).first %></div>

    <div class="actions">
      <%= f.submit 'Sign up', class: 'btn btn-block btn-login' %>
    </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
</br>
