<h1>Edit Chapter</h1>

<%= form_for @chapter, html: {multipart: true, class: "form-horizontal"} do |f| %>

	<div class="form-group">
	    <div class="col-sm-2 text-right">
	    	<%= f.label :name, class: "control-label required" %>
	    </div>
	    <div class="col-sm-6">
	        <%= f.text_field :name, class: "form-control" %>
	        <span class="txtError"><%= @chapter.errors.get(:name).first %></span>
	    </div>
	</div>
	<div class="form-group">
	    <div class="col-sm-2 text-right">
	    	<%= f.label :description, class: "control-label" %>
	    </div>
	    <div class="col-sm-6">
	        <%= f.text_area :description, class: "form-control" %>
	    </div>
	</div>

	<div class="form-group">
	    <div class="col-sm-2 text-right">
	    	<%= f.label :release_date, class: "control-label" %>
	    </div>
	    <div class="col-sm-6">
	        <%= f.date_select :release_date, :include_blank => true, class: "form-control" %>
	    </div>
	</div>

    <div class="form-group">
	    <div class="col-sm-2 text-right">
	    	<%= f.label :thumbnail, class: "control-label" %>
	    </div>
	    <div class="col-sm-6">
	        <%= f.file_field :thumbnail %>
	    </div>
    </div>

	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-6">
	      <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Modify</button>
	    </div>
	  </div>

<% end %>

