<h1>List of Steps</h1>

<a href="<%= new_chapter_path %>" class="btn btn-primary"><i class="fa fa-plus"></i> add step</a>
<br/><br/>

<%= grid(@chapters_grid) do |g|


  g.row_attributes do |chapter|
    {href: chapter_path(chapter)}
  end

  g.blank_slate  do
	 content_tag :div, "No chapter", class: 'well'
  end

  g.column name: 'ID' do |chapter|
    chapter.id
  end

  g.column name: 'thumbnail' do |chapter|
    image_tag chapter.thumbnail, class: "thumbnail-table"
  end

  g.column name: 'Name' do |chapter|
    chapter.name
  end

  g.column name: 'Content Type' do |chapter|
    chapter.description
  end

end -%>