<h1>Step <%= @chapter.name %></h1>

<a href="<%= edit_chapter_path(@chapter) %>" class="btn btn-primary"><i class="fa fa-pencil"></i> edit step</a>
<br/><br/>

<div class="row">
  <div class="col-md-3">
    <%= image_tag @chapter.thumbnail, class: "img-responsive" %>
  </div>
</div>

<% if @chapter.release_date.present? %>
  <p><b>Release date : </b><%= @chapter.release_date.strftime('%B %Y') %></p>
<% end %>

<p><%= @chapter.description %></p>

<h2>List of supports</h2>

<a href="<%= new_chapter_support_path(@chapter) %>" class="btn btn-primary"><i class="fa fa-plus"></i> add support</a> 
<br/><br/>

<%= grid(@supports_grid) do |g|

  g.row_attributes do |support|
    {href: chapter_support_path(@chapter,support)}
  end

  g.blank_slate  do
	content_tag :div, "No support for this content", class: 'well'
  end

  g.column name: 'ID' do |support|
    support.id
  end

  g.column name: 'Name' do |support|
    support.name
  end

  g.column name: 'Support Type' do |support|
    ("<i class='fa " + support.support_type.icon + "'></i> ").html_safe + support.support_type.name
  end

  g.column do |support|
    link_to("Delete", chapter_support_path(support.supportable_id,support.id), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-primary')
  end

end -%>

<h2>List of contents</h2>

<a href="<%= new_chapter_content_path(@chapter) %>" class="btn btn-primary"><i class="fa fa-plus"></i> add content</a> 
<br/><br/>

<%= grid(@contents_grid) do |g|

  g.row_attributes do |content|
    {href: chapter_content_path(@chapter,content)}
  end

  g.blank_slate  do
  content_tag :div, "No content", class: 'well'
  end

  g.column name: 'ID' do |content|
    content.id
  end

  g.column name: 'thumbnail' do |content|
    image_tag content.thumbnail, class: "thumbnail-table"
  end

  g.column name: 'Name' do |content|
    content.name
  end

  g.column name: 'Content Type' do |content|
    content.content_type.name
  end

end -%>