<table cellpadding="0" cellspacing="0" border="0" height="100%" width="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; Margin: 0 auto !important; border-collapse: collapse; border-spacing: 0 !important; table-layout: fixed !important;">
  <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
    <td class="ifk_body_cell" valign="top" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; padding: 20px; background-color: #208FC7;">
      <center style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; width: 100%;">
        <div style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; margin: 0 auto; max-width: 660px;">                 <!--[if (gte mso 9)|(IE)]>
        <table cellspacing="0" cellpadding="0" border="0" width="660" align="center">
          <tr>
            <td>                 <![endif]-->
          <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; Margin: 0 auto !important; border-collapse: collapse !important; border-spacing: 0 !important; table-layout: fixed !important; max-width: 660px;" class="js-container"><!-- header : BEGIN -->
            <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
              <td style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important;">
                <table cellspacing="0" cellpadding="0" border="0" width="100%" class="ifk_preheader" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; Margin: 0 auto !important; border-collapse: collapse !important; border-spacing: 0 !important; table-layout: fixed !important;">
                  <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
                    <td align="center" valign="top" ng-style="section.global_stylesheets" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; font-size: 0;"><!--[if mso]>
                    <table cellspacing="0" cellpadding="0" border="0" width="660">
                      <tr><![endif]--><!--[if mso]>
                    <td align="left" valign="top"><![endif]-->
                      <div class="stack-column js-parsing" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; display: inline-block; margin: 0; padding: 0; vertical-align: top; width: 100%;">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; Margin: 0 auto !important; border-collapse: collapse !important; border-spacing: 0 !important; table-layout: fixed !important;">
                          <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
                            <td class="ifk_preheader_content" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; text-align: center; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;">
                              <p style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 14px; line-height: 150%; margin: 0; padding: 0px; white-space: -moz-pre-wrap;">
                                <a href="https://englishincontext.statslive.info/external/show-email/eyJpdiI6ImpBVDdTdnVUMzFkaGJDZjJLdkN1b3Nua2lIZmg3Zng3ekJoSlwvRnIrS0t3PSIsInZhbHVlIjoiNmN3a3hXeUhZUVZiYXN6NzVSV1VxUnphZUQ0aXZBdFhoTGU4S0p3RmI2ST0iLCJtYWMiOiI5ZWNhYTdmZjFhMzZhYWE4YzE1OWYxOGRjYjMzMzJhYTRjOWJjOTNjNWU2NjIwMDgxMTBlNjkwOTE5YTQ0N2JjIn0=?t=149524638" target="_blank" rel="noopener noreferrer" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #606060; font-family: Tahoma, Arial,sans-serif; font-weight: normal; text-decoration: none;">Lire
                                  cet email dans mon navigateur</a></p></td>
                          </tr>
                        </table>
                      </div><!--[if mso]></td><![endif]--><!--[if mso]></tr></table><![endif]--></td>
                  </tr>
                </table>
              </td>
            </tr><!-- header : END --><!-- 1 Column : BEGIN -->
            <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
              <td style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important;">
                <table cellspacing="0" cellpadding="0" border="0" width="100%" class="ifk_body" data-js-width="660" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; Margin: 0 auto !important; border-collapse: collapse !important; border-spacing: 0 !important; table-layout: fixed !important; max-width: 660px; background-color: #FFFFFF;">
                  <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
                    <td align="center" valign="top" ng-style="section.global_stylesheets" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; font-size: 0;"><!--[if mso]>
                    <table cellspacing="0" cellpadding="0" border="0" width="660">
                      <tr><![endif]--><!--[if mso]>
                    <td align="left" valign="top"><![endif]-->
                      <div class="stack-column js-parsing" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; display: inline-block; margin: 0; padding: 0; vertical-align: top; width: 100%;">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; Margin: 0 auto !important; border-collapse: collapse !important; border-spacing: 0 !important; table-layout: fixed !important;">
                          <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
                            <td class="ifk_body_content" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; color: #505050; font-family: Arial; font-size: 14px; line-height: 150%; padding: 0px; text-align: center; white-space: -moz-pre-wrap; padding-top: 40px; padding-right: 10px; padding-bottom: 40px; padding-left: 10px;">
                              <a href="https://englishincontext.statslive.info/c/346645640/eyJpdiI6IkRFdmcyMWJ1d0NPMk5SNlphYjJlbFwvN2NKT0t6TGFuSXpUMlp3Z2FjRVpjPSIsInZhbHVlIjoiYkVaeVBcL2pHMDZXNTBvRWg2UlwvYml0RURPUE50aDhBTWtLbFBMa2RYZldkZ1hZak1nRUtsbG0xWjlEaFZoMWl5NTVQYzZYaGIyOVBvUUE4aVlwdFBidz09IiwibWFjIjoiYzk0ZDNmZDE4MzQ2NGZiZGYwMGQ3YjAwMGVlNGI1MDExOTgwZjk2MzZiMTkxMmZkYjRhNTk2MjJiYzYxZGFlNyJ9" title="" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-weight: inherit; text-decoration: none; color: #208FC7;"><img src="https://storage-master.infomaniak.ch/newsletter/images/2017-10-01/59d0a8b5c2126.jpg" alt="" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -ms-interpolation-mode: bicubic; height: auto !important; max-width: 100%; vertical-align: bottom; width: auto;" width="250"></a>
                            </td>
                          </tr>
                        </table>
                      </div><!--[if mso]></td><![endif]--><!--[if mso]></tr></table><![endif]--></td>
                  </tr>
                </table>
              </td>
            </tr><!-- 1 Column : END --><!-- 1 Column : BEGIN -->
            <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
              <td style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important;">
                <table cellspacing="0" cellpadding="0" border="0" width="100%" class="ifk_body" data-js-width="660" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; Margin: 0 auto !important; border-collapse: collapse !important; border-spacing: 0 !important; table-layout: fixed !important; max-width: 660px; background-color: #FFFFFF;">
                  <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
                    <td align="center" valign="top" ng-style="section.global_stylesheets" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; font-size: 0;"><!--[if mso]>
                    <table cellspacing="0" cellpadding="0" border="0" width="660">
                      <tr><![endif]--><!--[if mso]>
                    <td align="left" valign="top"><![endif]-->
                      <div class="stack-column js-parsing" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; display: inline-block; margin: 0; padding: 0; vertical-align: top; width: 100%;">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; Margin: 0 auto !important; border-collapse: collapse !important; border-spacing: 0 !important; table-layout: fixed !important;">
                          <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
                            <td class="ifk_body_content" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; color: #505050; font-family: Arial; font-size: 14px; line-height: 150%; padding: 0px; text-align: left; white-space: -moz-pre-wrap; padding-top: 10px; padding-right: 30px; padding-bottom: 10px; padding-left: 30px;">
                              <p style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #505050; margin: 0 0 10px; text-align: center;"></p>
                              <p style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #505050; margin: 0 0 10px; text-align: center;">
                                <span style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #208fc7; font-size: 26px;"><strong style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">Help us to help you!</strong></span>
                              </p>
                              <p style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #505050; margin: 0 0 10px; text-align: center;"></p>
                              <p style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #505050; margin: 0 0 10px; text-align: center;">
                                <span style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: Verdana, Geneva, sans-serif; font-size: 18px;">By answering two questions, you will give us the information we need to help you improve your English.</span>
                              </p>
                              <p style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #505050; margin: 0 0 10px; text-align: center;"></p>
                            </td>
                          </tr>
                        </table>
                      </div><!--[if mso]></td><![endif]--><!--[if mso]></tr></table><![endif]--></td>
                  </tr>
                </table>
              </td>
            </tr><!-- 1 Column : END --><!-- 1 Column : BEGIN -->
            <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
              <td style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important;">
                <table cellspacing="0" cellpadding="0" border="0" width="100%" class="ifk_body" data-js-width="660" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; Margin: 0 auto !important; border-collapse: collapse !important; border-spacing: 0 !important; table-layout: fixed !important; max-width: 660px; background-color: #FFFFFF;">
                  <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
                    <td align="center" valign="top" ng-style="section.global_stylesheets" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; font-size: 0;"><!--[if mso]>
                    <table cellspacing="0" cellpadding="0" border="0" width="660">
                      <tr><![endif]--><!--[if mso]>
                    <td align="left" valign="top"><![endif]-->
                      <div class="stack-column js-parsing" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; display: inline-block; margin: 0; padding: 0; vertical-align: top; width: 100%;">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; Margin: 0 auto !important; border-collapse: collapse !important; border-spacing: 0 !important; table-layout: fixed !important;">
                          <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
                            <td class="ifk_body_content" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; color: #505050; font-family: Arial; font-size: 14px; line-height: 150%; padding: 0px; text-align: center; white-space: -moz-pre-wrap; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;">
                              <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; Margin: 0 auto !important; border-collapse: collapse !important; border-spacing: 0 !important; table-layout: fixed !important;">
                                <tbody style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
                                <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
                                  <td class="ifk_btn_center ifk_btn_text_width" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; text-align: center;">
                                    <a href="https://englishincontext.statslive.info/c/346645641/eyJpdiI6IkZhMjJqajVUUEtEWnRiOE5tdEhUWUFmOEFQeHM5ME5EMVwvMkNWek4wdnRnPSIsInZhbHVlIjoib3JSeHJmNmZzTWNkZU9UblQxTEdNVUJoaHRpK0FPT3AyNnAxXC94TDAySHk2SGp0UUtrZ28xMVd2NDRQcXVJSktzWTBEUVJOdXB5d0JySTF6MndYZFNnPT0iLCJtYWMiOiJiY2QyNzJjYzY1MWU3ZWVkZWMxZGMwMWVhZjhhNzJkY2YyY2MwM2Y5ZmIzMGNhNjM1ZDNmNjc0MGE5ZDJjOTFjIn0=" title="" class="ifk_btn_niak ifk_btn_niak_block ifk_btn_center ifk_btn_text_width" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; display: inline-block; padding-left: 34px !important; padding-right: 34px !important; text-align: center; border: 11px solid #208FC7; border-radius: 3px; font-family: Arial ,sans-serif; font-size: 14px; line-height: 17px; text-decoration: none; text-transform: uppercase; font-weight: inherit; color: #FFFFFF; background-color: #208FC7;"><!--[if mso]>    <![endif]--><span style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; text-decoration: none; color: #FFFFFF; background-color: #208FC7;">Let's go!</span><!--[if mso]>    <![endif]-->
                                    </a></td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </div><!--[if mso]></td><![endif]--><!--[if mso]></tr></table><![endif]--></td>
                  </tr>
                </table>
              </td>
            </tr><!-- 1 Column : END --><!-- 1 Column : BEGIN -->
            <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
              <td style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important;">
                <table cellspacing="0" cellpadding="0" border="0" width="100%" class="ifk_body" data-js-width="660" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; Margin: 0 auto !important; border-collapse: collapse !important; border-spacing: 0 !important; table-layout: fixed !important; max-width: 660px; background-color: #FFFFFF;">
                  <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
                    <td align="center" valign="top" ng-style="section.global_stylesheets" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; background-color: #208FC7; font-size: 0;"><!--[if mso]>
                    <table cellspacing="0" cellpadding="0" border="0" width="660">
                      <tr><![endif]--><!--[if mso]>
                    <td align="left" valign="top"><![endif]-->
                      <div class="stack-column js-parsing" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; display: inline-block; margin: 0; padding: 0; vertical-align: top; width: 100%;">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; Margin: 0 auto !important; border-collapse: collapse !important; border-spacing: 0 !important; table-layout: fixed !important;">
                          <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
                            <td class="ifk_body_content" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; color: #505050; font-family: Arial; font-size: 14px; line-height: 150%; padding: 0px; text-align: left; white-space: -moz-pre-wrap; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;">
                              <img src="https://static.infomaniak.ch/docs/mailings/z.png" alt="" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -ms-interpolation-mode: bicubic; height: 19px; max-width: 100%; vertical-align: bottom; width: 100%; max-height: 19px;">
                            </td>
                          </tr>
                        </table>
                      </div><!--[if mso]></td><![endif]--><!--[if mso]></tr></table><![endif]--></td>
                  </tr>
                </table>
              </td>
            </tr><!-- 1 Column : END --><!-- 1 Column : BEGIN -->
            <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
              <td style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important;">
                <table cellspacing="0" cellpadding="0" border="0" width="100%" class="ifk_body" data-js-width="660" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; Margin: 0 auto !important; border-collapse: collapse !important; border-spacing: 0 !important; table-layout: fixed !important; max-width: 660px; background-color: #FFFFFF;">
                  <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
                    <td align="center" valign="top" ng-style="section.global_stylesheets" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; background-color: #208FC7; font-size: 0;"><!--[if mso]>
                    <table cellspacing="0" cellpadding="0" border="0" width="660">
                      <tr><![endif]--><!--[if mso]>
                    <td align="left" valign="top"><![endif]-->
                      <div class="stack-column js-parsing" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; display: inline-block; margin: 0; padding: 0; vertical-align: top; width: 100%;">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; Margin: 0 auto !important; border-collapse: collapse !important; border-spacing: 0 !important; table-layout: fixed !important;">
                          <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
                            <td class="ifk_body_content" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; color: #505050; font-family: Arial; font-size: 14px; line-height: 150%; padding: 0px; text-align: left; white-space: -moz-pre-wrap; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;">
                              <a href="https://englishincontext.statslive.info/c/346645642/eyJpdiI6IllNd2o4aXdpWFBsQUhCZHVEaTBYWDBmMkN3V2liNHBIdUFncjhvQTQ0ZUU9IiwidmFsdWUiOiJTckhxdHNPdmpOWnkyWlFsN2tFd2U0YVVDaGF3THhENyt1dVZKQXdlb0dwMkxPT0t4ZmQ3aTVGQkUrdW1RK3haTjJyaGlYXC9CM2Y5bjhEQ0lQdlMrWGc9PSIsIm1hYyI6IjEyNTdiYjk0OThkZTc2YmY2MDNlMjg4M2YwMDIwN2QzYzE1OTBiNzZmNzdkMjA5ZDAwZTVhNDVkMDFjOWRmNTIifQ==" title="6 months for only $29.90" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-weight: inherit; text-decoration: none; color: #208FC7;"><img src="https://storage-master.infomaniak.ch/newsletter/images/2017-12-06/5a27e34327e51.jpg" alt="6 months for only $29.90" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -ms-interpolation-mode: bicubic; height: auto !important; max-width: 100%; vertical-align: bottom; width: auto;" width="660"></a><img src="https://static.infomaniak.ch/docs/mailings/z.png" alt="" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -ms-interpolation-mode: bicubic; height: 19px; max-width: 100%; vertical-align: bottom; width: 100%; max-height: 19px;">
                            </td>
                          </tr>
                        </table>
                      </div><!--[if mso]></td><![endif]--><!--[if mso]></tr></table><![endif]--></td>
                  </tr>
                </table>
              </td>
            </tr><!-- 1 Column : END --><!-- Two Even Columns : BEGIN -->
            <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
              <td align="center" height="100%" valign="top" width="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important;">         <!--[if mso]>
              <table border="0" cellspacing="0" cellpadding="0" align="center" width="660">
                <tr>
                  <td align="center" valign="top" width="660">         <![endif]-->
                <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" class="ifk_body" data-js-width="660" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; Margin: 0 auto !important; border-collapse: collapse !important; border-spacing: 0 !important; table-layout: fixed !important; max-width: 660px; background-color: #FFFFFF;">
                  <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
                    <td align="center" valign="top" ng-style="section.global_stylesheets" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; font-size: 0;"><!--[if mso]>
                    <table cellspacing="0" cellpadding="0" border="0" width="660">
                      <tr><![endif]--><!--[if mso]>
                    <td align="left" valign="top" width="330"><![endif]-->
                      <div class="stack-column js-parsing" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; display: inline-block; margin: 0; padding: 0; vertical-align: top; width: 100%; max-width: 330px;">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; Margin: 0 auto !important; border-collapse: collapse !important; border-spacing: 0 !important; table-layout: fixed !important;">
                          <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
                            <td class="ifk_body_content" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; color: #505050; font-family: Arial; font-size: 14px; line-height: 150%; padding: 0px; text-align: left; white-space: -moz-pre-wrap;"></td>
                          </tr>
                        </table>
                      </div><!--[if mso]></td><![endif]--><!--[if mso]>
                    <td align="left" valign="top" width="330"><![endif]-->
                      <div class="stack-column js-parsing" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; display: inline-block; margin: 0; padding: 0; vertical-align: top; width: 100%; max-width: 330px;">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; Margin: 0 auto !important; border-collapse: collapse !important; border-spacing: 0 !important; table-layout: fixed !important;">
                          <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
                            <td class="ifk_body_content" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important; color: #505050; font-family: Arial; font-size: 14px; line-height: 150%; padding: 0px; text-align: left; white-space: -moz-pre-wrap;">
                              <div class="ifk_social_icons" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; list-style: none; margin: 0 !important; padding: 0 !important;"><!--[if mso]>
                              <table cellspacing="0" cellpadding="0" border="0">
                                <tr><![endif]--><!--[if mso]>
                              <td align="top" width="40"><![endif]-->
                                <div class="ifk_social_icons_item" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; display: inline-block; margin: 3px 7px;">
                                  <a href="https://englishincontext.statslive.info/c/346645643/eyJpdiI6InlhdjhzZDVCbGNXazJqVHRIakpjQU81bFZucDc1QnNQWHFVVDloS2tXOE09IiwidmFsdWUiOiJHUDNvNTU4a0x3aXgyZCtnZHEwOWhxZHp2dFFxOUVZZnpkOUpNclBMMzdzeWJSenh4T2dwMkgzcnpuMFwvbE9xU3BkQkFOUURhbUdLcU9mRnhuakV5Z3c9PSIsIm1hYyI6IjdjNTU4NzFiNWZiOTA1MTIxZDEzNWEwYWQ0MGM5Yjk2ZWQ0ODhjZjljZWMyNmQ2MmViZDE5YzZiMDZiYTVmMzMifQ==" title="Facebook" class="ifk_custom_social" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-repeat: no-repeat; background-size: 32px auto; display: block; height: 32px; width: 32px; font-weight: inherit; text-decoration: none; color: #208FC7;"><img src="https://static.infomaniak.ch/docs/mailings/designer/facebook.png" alt="Facebook" width="32" height="32" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -ms-interpolation-mode: bicubic; height: auto !important; max-width: 100%; vertical-align: bottom;"></a>
                                </div><!--[if mso]></td><![endif]--><!--[if mso]>
                              <td align="top" width="40"><![endif]-->
                                <div class="ifk_social_icons_item" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; display: inline-block; margin: 3px 7px;">
                                  <a href="https://englishincontext.statslive.info/c/346645644/eyJpdiI6IlBiWGVJalducmcxSTNCbUNyVnR3RFFZSmRBT08yRU5Xa3lYZ1V1T2FXOWc9IiwidmFsdWUiOiI3WWdERFArZWErS2xCNjNIQjBZYjZZQllTeWR0cDlobzJhdlYyOGhJd1N3U2VLMkRhNHhLSld1Y0JnTDkrWjJJWmxmMWZ2U3lRaldTVW5sUjI3YmRcL2c9PSIsIm1hYyI6IjZiNTU3MGUzMTU0ODRkZWNmZGEwNTJmMDEzYjgzNzZiNmM1NDhmMjQ0NjVmY2FkYjkyNjZkNGM5MGMwYTdiZTUifQ==" title="Twitter" class="ifk_custom_social" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-repeat: no-repeat; background-size: 32px auto; display: block; height: 32px; width: 32px; font-weight: inherit; text-decoration: none; color: #208FC7;"><img src="https://static.infomaniak.ch/docs/mailings/designer/twitter.png" alt="Twitter" width="32" height="32" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -ms-interpolation-mode: bicubic; height: auto !important; max-width: 100%; vertical-align: bottom;"></a>
                                </div><!--[if mso]></td><![endif]--><!--[if mso]>
                              <td align="top" width="40"><![endif]-->
                                <div class="ifk_social_icons_item" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; display: inline-block; margin: 3px 7px;">
                                  <a href="https://englishincontext.statslive.info/c/346645645/eyJpdiI6IlhET0tOYkVFS205Y202MzMyUURocjVBSzQ2dHZOdnZoUnVnWkpTd1wvdlNrPSIsInZhbHVlIjoib2N3elFBV2MyMG91WWJmUTNcL09lQitjdWNZZFk0TTlCbzhMbWNUZlAyY3o5NkdsSmJMVmRXdTlCQzBuQkVmY013QUVGTUNuUGJab0dDYWo4dlYrdmRnPT0iLCJtYWMiOiI2YTFmMjFlOWZhYzJmNWZkMGE5OTIyZDE0N2Y2MTM0YWE3MTAyZWJkOWNkZWU5MTIxODAxZGVhZDJjODQ4ZjcxIn0=" title="Youtube" class="ifk_custom_social" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-repeat: no-repeat; background-size: 32px auto; display: block; height: 32px; width: 32px; font-weight: inherit; text-decoration: none; color: #208FC7;"><img src="https://static.infomaniak.ch/docs/mailings/designer/youtube.png" alt="Youtube" width="32" height="32" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -ms-interpolation-mode: bicubic; height: auto !important; max-width: 100%; vertical-align: bottom;"></a>
                                </div><!--[if mso]></td><![endif]--><!--[if mso]></tr></table><![endif]--></div>
                            </td>
                          </tr>
                        </table>
                      </div><!--[if mso]></td><![endif]--><!--[if mso]></tr></table><![endif]--></td>
                  </tr>
                </table><!--[if mso]>         </td>         </tr>         </table>         <![endif]--></td>
            </tr>
          </table><!--[if (gte mso 9)|(IE)]>                 </td>                 </tr>                 </table>                 <![endif]-->
        </div>
      </center>
    </td>
  </tr>
</table>
<img src="https://englishincontext.statslive.info/o/eyJpdiI6ImpBVDdTdnVUMzFkaGJDZjJLdkN1b3Nua2lIZmg3Zng3ekJoSlwvRnIrS0t3PSIsInZhbHVlIjoiNmN3a3hXeUhZUVZiYXN6NzVSV1VxUnphZUQ0aXZBdFhoTGU4S0p3RmI2ST0iLCJtYWMiOiI5ZWNhYTdmZjFhMzZhYWE4YzE1OWYxOGRjYjMzMzJhYTRjOWJjOTNjNWU2NjIwMDgxMTBlNjkwOTE5YTQ0N2JjIn0=" alt="" width="1" height="1">
