<span class="prefix-title">GROUP MANAGER</span>
<h1>EDIT STUDENT</h1>

<%= form_for @student, url: group_student_path(@group.id, @student), html: {class: "form-horizontal"} do |f| %>

    <div class="form-group">
      <div class="col-sm-2 text-right">
        <%= f.label :first_name, class: "control-label required" %>
      </div>
      <div class="col-sm-6">
        <%= f.text_field :first_name, class: "form-control" %>
        <span class="txtError"><%= @student.errors.get(:first_name).first %></span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 text-right">
        <%= f.label :last_name, class: "control-label required" %>
      </div>
      <div class="col-sm-6">
        <%= f.text_field :last_name, class: "form-control" %>
        <span class="txtError"><%= @student.errors.get(:last_name).first %></span>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-2 text-right">
        <%= f.label :email, class: "control-label required" %>
      </div>
      <div class="col-sm-6">
        <%= f.text_field :email, class: "form-control" %>
        <span class="txtError"><%= @student.errors.get(:email).first %></span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 text-right">
        <%= f.label :level, class: "control-label" %>
      </div>
      <div class="col-sm-6">
          <label class="radio-inline">
              <%= f.radio_button :level, '1', :checked => true %>
              Level 1
          </label>
          <label class="radio-inline">
              <%= f.radio_button :level, '2' %>
              Level 2
          </label>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-2 text-right">
        <%= f.label :description, class: "control-label" %>
      </div>
      <div class="col-sm-6">
        <%= f.text_area :description, class: "form-control" %>
        <span class="txtError"><%= @student.errors.get(:description).first %></span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Edit</button>
      </div>
    </div>

<% end %>

