<div class="row">
  <div class="col-md-12">
    <div class="right">
      <%= link_to(@student, href: group_student_path, method: :delete, data: {confirm: 'Do you validate the suppression?'}, class: "btn") do %>
        <div class="update-nag">
          <div class="update-split"><i class="fa fa-user-times"></i></div>
          <div class="update-text">Remove user</div>
        </div>
      <% end %>
      <%= link_to(@student, href: edit_group_student_path, class: "btn") do %>
          <div class="update-nag">
            <div class="update-split"><i class="fa fa-pencil"></i></div>
            <div class="update-text">Edit user</div>
          </div>
      <% end %>
    </div>
    <span class="prefix-title">GROUP MANAGER</span>
    <h1>DETAIL STUDENT <b><%= @student.full_name %></b></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <img src="http://placehold.it/200x250" alt="" class="img-responsive" />
        </div>
        <div class="col-sm-6 col-md-9">
          <small>
            <cite><%= @student.full_address %> <i class="fa fa-map-marker"></i></cite>
          </small>
          <hr>
          <p>
            Account confirmed :
            <% if @student.invitation_accepted_at.blank? %>  
              <span class='txt_red'>No</span>
            <% else %>
              <span class='txt_green'>Yes (<%= @student.invitation_accepted_at.strftime('%d.%m.%Y') %>)</span>
            <% end %>
          </p>
          <p>
            <br/>
            <i class="fa fa-envelope-o user-fa"></i> <%= @student.email %>
            <br />
            <i class="fa fa-calendar user-fa"></i> <%= @student.created_at.strftime('%d.%m.%Y') %>
            <br />
            <i class="fa fa-signal user-fa"></i> <%= @student.level.humanize %>
          </p>
        </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <h3>Description</h3>
      <p><%= @student.description %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Achievements</h2>
    <table class="achievement-table table table-bordered">
      <thead>
        <tr>
          <th>Picture</th>
          <th>Name</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
      <% @student.chapters_achieved.each do |chapter| %>
          <tr class="chapter_row">
            <td style="width: 12%"><%= image_tag(chapter.thumbnail, :alt => chapter.name, :class => "thumbnail-table text-center") %></td>
            <td><%= chapter.name %></td>
            <td>
              <% progess_content = ''
                 sum_support = 0
                 nb_support = 0
                 chapter.supports.each do |support|
                   support.achievements.where(user_id: @student.id).each do |achievement|
                     progess_content += "<b> #{support.name}</b> - #{support.support_type.name} <small class='pull-right'><i> #{achievement.created_at.strftime("%d.%m.%Y")} </i></small>"
                     progess_content += '<div class="progress">
                              <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="'+achievement.score.to_s+'" aria-valuemin="0" aria-valuemax="100" style="width: '+achievement.score.to_s+'%">
                                '+achievement.score.to_s+'%
                            </div>
                          </div><br>'
                     sum_support += achievement.score
                     nb_support += 1
                   end
                 end
                 sum_support = sum_support / nb_support unless nb_support == 0
              %>
              <% unless nb_support == 0 %>
                  <a tabindex="0" role="button" class="popover-btn" data-toggle="popover"
                     data-trigger="focus" title="Supports" data-html="true"
                     data-content="<%= progess_content %>">
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="<%= sum_support.to_s %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= sum_support.to_s %>%">
                        <%= sum_support.round.to_s %> %
                      </div>
                    </div>
                  </a>
              <% end %>
            </td>
          </tr>
          <tr height="30%" class="content_row">
            <td colspan="4">
              <table class="table table-bordered">
                <tbody>
                <% @student.contents_achieved(chapter.id).each do |content| %>
                    <tr>
                      <td style="width: 12%"><%= image_tag(content.thumbnail, :alt => content.name, :class => "thumbnail-table text-center") %></td>
                      <td><%= content.name %></td>
                      <td>
                        <% progress_content = ''
                           progress_content_test = ''
                           sum_support = 0
                           score = 0
                           content.supports.each do |support|

                             support.achievements.where(user_id: @student.id).each do |achievement|
                               # Quiz display
                               if support.support_type.name == 'Quiz' && achievement.score > score
                                 if progress_content != ''
                                   progress_content_test = "<div class='support_test_achieved'>"
                                 else
                                   progress_content_test = "<div>"
                                 end
                                 progress_content_test += "<b> #{support.name}</b> <small><i> #{achievement.created_at.strftime("%d.%m.%Y")} </i></small>"
                                 progress_content_test += '<div class="progress">
                                                                  <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="'+achievement.score.round.to_s+'" aria-valuemin="0" aria-valuemax="100" style="width: '+achievement.score.to_s+'%">
                                                                    '+ achievement.score.round.to_s + ' %
                                                                </div>
                                                              </div></div>'
                                 sum_support = achievement.score
                               else
                                 # Other support display
                                 progress_content += "<div class='support_achieved'><b> #{support.name}</b> <small><i> #{achievement.created_at.strftime("%d.%m.%Y")} </i></small>"
                                 progress_content += '<i class="pull-right fa fa-check pull-right" aria-hidden="true"></i></div>'
                               end

                             end
                           end

                           progress_content += progress_content_test
                        %>
                        <a tabindex="0" role="button" class="popover-btn" data-toggle="popover"
                           data-trigger="focus" title="Supports" data-html="true"
                           data-content="<div><%= progress_content %></div>">
                          <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="<%= sum_support.round %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= sum_support.to_s %>%">
                              <%= sum_support.round %> %
                            </div>
                          </div>
                        </a>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

  </div>


</div>
