<h1>List of Organisations</h1>

<a href="<%= new_organisation_path %>" class="btn btn-primary"><i class="fa fa-plus"></i> add organisation</a>
<br/><br/>

<%= grid(@organisations_grid) do |g|

  g.row_attributes do |organisation|
    {href: organisation_path(organisation)}
  end

  g.blank_slate  do
	   content_tag :div, "No organisation", class: 'well'
  end

  g.column name: 'ID' do |organisation|
    organisation.id
  end

  g.column name: 'Name' do |organisation|
    organisation.name
  end

  g.column name: 'Nunber manager account' do |organisation|
    organisation.nb_account_manager
  end

  g.column name: 'Nunber student account' do |organisation|
    organisation.nb_account_student
  end

end -%>