<h1>Add Organisation</h1>

<%= form_for @organisation, html: {multipart: true, class: "form-horizontal"} do |f| %>

	<div class="form-group">
	    <div class="col-sm-2 text-right">
	    	<%= f.label :name, class: "control-label required" %>
	    </div>
	    <div class="col-sm-6">
	        <%= f.text_field :name, class: "form-control" %>
	        <span class="txtError"><%= @organisation.errors.get(:name).first %></span>
	    </div>
	</div>
	<div class="form-group">
	    <div class="col-sm-2 text-right">
	    	<%= f.label :nb_account_manager, class: "control-label required" %>
	    </div>
	    <div class="col-sm-6">
	        <%= f.number_field :nb_account_manager, class: "form-control" %>
	        <span class="txtError"><%= @organisation.errors.get(:nb_account_manager).first %></span>
	    </div>
	</div>
	<div class="form-group">
	    <div class="col-sm-2 text-right">
	    	<%= f.label :nb_account_student, class: "control-label required" %>
	    </div>
	    <div class="col-sm-6">
	        <%= f.number_field :nb_account_student, class: "form-control" %>
	        <span class="txtError"><%= @organisation.errors.get(:nb_account_student).first %></span>
	    </div>
	</div>

	
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-6">
	      <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add</button>
	    </div>
	  </div>

<% end %>

