
<h1>
  <span>Organisation <%= @organisation.name %></span>
</h1>

<a href="<%= edit_organisation_path(@organisation) %>" class="btn btn-primary"><i class="fa fa-plus"></i> edit organisation</a>

<hr>

<dl class="dl-horizontal">
  <dt>Number of Manager</dt>
  <dd <%= 'class=full_account' if @nb_managers >= @organisation.nb_account_manager %>><%= @nb_managers %> / <%= @organisation.nb_account_manager %></dd>
  <dt>Number of Student</dt>
  <dd <%= 'class=full_account' if @nb_students >= @organisation.nb_account_student %>><%= @nb_students %> / <%= @organisation.nb_account_student %></dd>
</dl>

<h2>List of organizers</h2>

<a href="<%= new_organisation_organizer_path(@organisation) %>" class="btn btn-primary"><i class="fa fa-plus"></i> add organizer</a>
<br/><br/>

<%= grid(@organizers_grid) do |g|

  g.row_attributes do |purchase|
    {href: "#"}
  end

  g.blank_slate  do
     content_tag :div, "No organizer", class: 'well'
  end

  g.column name: 'ID' do |organizer|
    organizer.id
  end

  g.column name: 'First name' do |organizer|
    organizer.first_name
  end

  g.column name: 'Last name' do |organizer|
    organizer.last_name
  end

end -%>

<h2>List of managers</h2>

<a href="<%= new_organisation_manager_path(@organisation) %>" class="btn btn-primary" <%= 'disabled=disabled' if @nb_managers >= @organisation.nb_account_manager %>><i class="fa fa-plus"></i> add manager</a>
<br/><br/>

<%= grid(@managers_grid) do |g|

  g.row_attributes do |purchase|
    {href: "#"}
  end

  g.blank_slate  do
	   content_tag :div, "No manager", class: 'well'
  end

  g.column name: 'ID' do |manager|
    manager.id
  end

  g.column name: 'First name' do |manager|
    manager.first_name
  end

  g.column name: 'Last name' do |manager|
    manager.last_name
  end

end -%>

<h2>List of purchases</h2>

<a href="<%= new_organisation_organisations_purchase_path(@organisation) %>" class="btn btn-primary"><i class="fa fa-plus"></i> add purchase</a>
<br/><br/>

<%= grid(@purchases_grid) do |g|

  g.row_attributes do |purchase|
    {href: organisation_organisations_purchase_path(@organisation, purchase)}
  end

  g.blank_slate  do
   content_tag :div, "No purchase", class: 'well'
  end

  g.column name: 'ID' do |purchase|
    purchase.id
  end

  g.column name: 'Pruchase date' do |purchase|
    purchase.created_at.strftime("%d %b. %Y")
  end

  g.column name: 'Price' do |purchase|
    purchase.price
  end

  g.column name: 'From' do |purchase|
    purchase.from.strftime("%d %b. %Y")
  end

  g.column name: 'To' do |purchase|
    purchase.to.strftime("%d %b. %Y")
  end

  g.column name: 'Number of chapter' do |purchase|
    purchase.subscriptions.count
  end

end -%>