<div class="row">
  <div class="col-md-12">
    <div class="right">
      <a href="<%= new_organisation_manager_path(@organisation) %>" class="btn" <%= 'disabled=disabled' if @nb_managers >= @organisation.nb_account_manager %>>
        <div class="update-nag">
          <div class="update-split"><i class="fa fa-plus"></i></div>
          <div class="update-text">add manager</div>
        </div>
      </a>
    </div>
    <span class="prefix-title">ORGANISATION MANAGER</span>
    <h1>DETAIL ORGANISATION <b><%= @organisation.name %></b></h1>
    <dl class="dl-horizontal">
      <dt>Number of Manager</dt>
      <dd <%= 'class=full_account' if @nb_managers >= @organisation.nb_account_manager %>><%= @nb_managers %> / <%= @organisation.nb_account_manager %></dd>
      <dt>Number of Student</dt>
      <dd <%= 'class=full_account' if @nb_students >= @organisation.nb_account_student %>><%= @nb_students %> / <%= @organisation.nb_account_student %></dd>
    </dl>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <h2>List of managers</h2>
  </div>
</div>

<%= grid(@managers_grid) do |g|

  g.row_attributes do |manager|
    {href: organisation_manager_path(@organisation,manager)}
  end

  g.blank_slate  do
     content_tag :div, "No manager", class: 'well'
  end

  g.column name: 'ID' do |manager|
    manager.id
  end

  g.column name: 'First name' do |manager|
    manager.first_name
  end

  g.column name: 'Last name' do |manager|
    manager.last_name
  end

end -%>

<div class="row">
  <div class="col-md-12">
      <h2>List of purchases</h2>
  </div>
</div>

<%= grid(@purchases_grid) do |g|

  g.row_attributes do |purchase|
    {class: "no-link"}
  end

  g.blank_slate  do
   content_tag :div, "No purchase", class: 'well'
  end

  g.column name: 'ID' do |purchase|
    purchase.id
  end

  g.column name: 'Date' do |purchase|
    purchase.created_at.strftime('%d.%m.%Y %H:%M')
  end

  g.column name: 'Price' do |purchase|
    purchase.price
  end

  g.column name: 'From' do |purchase|
    purchase.from.strftime('%d.%m.%Y')
  end

  g.column name: 'To' do |purchase|
    purchase.to.strftime('%d.%m.%Y')
  end

  g.column name: 'Number of chapter' do |purchase|
    purchase.subscriptions.count
  end

end -%>

