<h1>List of Purchases</h1>

<%= grid(@purchases_grid) do |g|

  g.blank_slate  do
   content_tag :div, "No purchase", class: 'well'
  end

  g.column name: 'ID' do |purchase|
    purchase.id
  end

  g.column name: 'Date' do |purchase|
    purchase.created_at
  end

  g.column name: 'Purchasable' do |purchase|
    purchase.purchasable.full_name
  end

  g.column name: 'Price' do |purchase|
    purchase.price
  end

  g.column name: 'From' do |purchase|
    purchase.from
  end

  g.column name: 'To' do |purchase|
    purchase.to
  end

  g.column name: 'Number of chapter' do |purchase|
    purchase.subscriptions.count
  end

end -%>