<span class="prefix-title">GROUP MANAGER</span>
<h1>EDIT GROUP</h1>

<%= form_for @group, html: {class: "form-horizontal"} do |f| %>

	<div class="form-group">
		<div class="col-md-1">
			<%= f.label :name, class: "control-label required" %>
		</div>
		<div class="col-sm-6">
			<%= f.text_field :name, class: "form-control" %>
			<span class="txtError"><%= @group.errors.get(:name).first %></span>
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-1">
			<%= f.label :description, class: "control-label" %>
		</div>
		<div class="col-sm-6">
			<%= f.text_area :description, class: "form-control" %>
			<span class="txtError"><%= @group.errors.get(:description).first %></span>
		</div>
	</div>

	<h2>Manage content</h2>

	<% @chapters.each do |chapter| %>

		<% if chapter.release_date.blank? %>

			<h3>
				<div class="checkbox">
					<label>
						<%= check_box_tag 'group[chapter_ids][]', chapter.id, f.object.chapters.include?(chapter) %>
						<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
						<%= chapter.name %> <span class="chapter-tools">Chapter tools</span>
					</label>
				</div>
			</h3>

			<div class="row well">

				<div class="col-md-12">
					<div class="checkbox">
						<label>
							<%= check_box_tag 'All access', 1, false, class: "chk_all_content_access", data: {"chapter" => chapter.id} %>
							<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
							<i>Access all content</i>
						</label>
					</div>
				</div>
				<br/><br/>
				<% chapter.contents.each do |content| %>
					<div class="col-md-3">
						<h4>
							<div class="checkbox">
								<label>
									<%= check_box_tag 'group[content_ids][]', content.id, f.object.contents.include?(content), data: {"chapter" => chapter.id} %>
									<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
									<%= content.name %>
								</label>
							</div>
						</h4>
					</div>
				<% end %>
			</div>

			<br/>
		<% end %>

	<% end %>

	<br/><br/>

	<div class="form-group">
		<div class="col-md-offset-1 col-md-6">
			<button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Update</button>
		</div>
	</div>

<% end %>

