<div class="row">
  <div class="col-md-12">
    <div class="right">
      <a href="<%= new_group_path %>">
        <div class="update-nag">
          <div class="update-split"><i class="fa fa-plus"></i></div>
          <div class="update-text">New group</div>
        </div>
      </a>
    </div>
    <span class="prefix-title">GROUP MANAGER</span>
    <h1>LIST OF GROUPS</h1>
  </div>
</div>

<%= grid(@groups_grid) do |g|

  g.row_attributes do |group|
    {href: group_path(group)}
  end

  g.column name: 'Name' do |group|
    group.name
  end

  g.column name: 'Nb students' do |group|
    group.students.count
  end

  g.column name: 'Created at' do |group|
    group.created_at.strftime('%d.%m.%Y')
  end

end -%>