<div class="row">
  <div class="col-md-12">
    <div class="right">
      <a href="<%= edit_group_path(params[:id]) %>" class="btn">
        <div class="update-nag">
          <div class="update-split"><i class="fa fa-cogs"></i></div>
          <div class="update-text">Manage group</div>
        </div>
      </a>
      <a href="<%= new_group_student_path(@group) %>" class="btn" <%= 'disabled=disabled' if current_user.organisation.nb_account_student <= current_user.organisation.students.count %>>
        <div class="update-nag">
          <div class="update-split"><i class="fa fa-user-plus"></i></div>
          <div class="update-text">Add student</div>
        </div>
      </a>
    </div>
    <span class="prefix-title">GROUP MANAGER</span>
    <h1>GROUP <b><%= @group.name %></b></h1>
    <p><%= @group.description %></p>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>List of Students</h2>
    </div>
</div>

<%= grid(@students_grid) do |g|

  g.row_attributes do |student|
    {href: group_student_path(@group.id, student)}
  end

  g.column name: 'First name' do |student|
  student.first_name
  end

  g.column name: 'Last name' do |student|
  student.last_name
  end

  g.column name: 'Email' do |student|
    student.email
  end

  g.column name: 'Created on' do |student|
  student.created_at.strftime('%d.%m.%Y')
  end

  g.column name: 'Account confirmed' do |student|
    student.invitation_accepted_at.blank? ?  raw("<span class='txt_red'>No</span>") : raw("<span class='txt_green'>Yes</span>")
  end

  g.column name: 'Progression' do |student|


    supports = []
    chapters = Access.all_access_chapters(student.group)
    chapters.each do |chapter|
      Access.contents_access(student.group, chapter).each do |content|
        supports.push( content.supports)
      end
    end

    achieved = Achievement.where(user_id: student.id).distinct.count()
    all_supports = Support.available(student).count()
    done = (achieved.to_f / all_supports.to_f * 100.0).round

    "#{achieved.to_s} / #{all_supports.to_s}".html_safe
  end

  g.column name: 'Score' do |student|
    sum_support = Achievement.where(user_id: student.id).distinct.sum(:score)
    sum_support = sum_support / Achievement.where(user_id: student.id).distinct.count()

    "<div class='progress' style='width:120px;'>
      <div class='progress-bar progress-bar-striped' role='progressbar' aria-valuenow='#{sum_support.to_s}' aria-valuemin='0' aria-valuemax='100' style='width: #{sum_support.to_s}%'>

       #{ sum_support.nan? ? 0 : sum_support.round} %
        </div>
      </div>".html_safe
  end


end -%>


<div class="row">
  <div class="col-md-12">
    <h2>Access management</h2>
  </div>
</div>

<%= grid(@chapters_grid) do |g|

  g.row_attributes do |student|
    {class: "no-link"}
  end

  g.column name: 'Steps' do |chapter|
    chapter.number
  end

  g.column name: 'Access' do |chapter|
    Access.access_to_chapter?(@group,chapter)
  end

  g.column name: 'Content' do |chapter|
    Access.contents_access(@group,chapter).map {|c| c.name }.join(", ")
  end

end -%>