<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <%= f.email_field :email, autofocus: true, placeholder: :email, class: 'form-control' %>
  <div class="txtError"><%= f.object.errors.get(:email).first %></div>

  <div class="actions">
    <%= f.submit 'Send me reset password instructions', class: 'btn btn-block btn-login' %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  </br>
<% end %>
