<span class="prefix-title">ORGANISATION MANAGER</span>
<h1>ADD MANAGER</h1>

<%= form_for [@organisation,@manager], html: {class: "form-horizontal"} do |f| %>

	<div class="form-group">
	    <div class="col-sm-2 text-right">
	    	<%= f.label :first_name, class: "control-label required" %>
	    </div>
	    <div class="col-sm-6">
	        <%= f.text_field :first_name, class: "form-control" %>
	        <span class="txtError"><%= @manager.errors.get(:first_name).first %></span>
	    </div>
	</div>
	<div class="form-group">
	    <div class="col-sm-2 text-right">
	    	<%= f.label :last_name, class: "control-label required" %>
	    </div>
	    <div class="col-sm-6">
	        <%= f.text_field :last_name, class: "form-control" %>
	        <span class="txtError"><%= @manager.errors.get(:last_name).first %></span>
	    </div>
	</div>
	<div class="form-group">
	  <div class="col-sm-2 text-right">
	      <%= f.label :email, class: "control-label required" %>
	  </div>
	    <div class="col-sm-6">
	        <%= f.text_field :email, class: "form-control" %>
	        <span class="txtError"><%= @manager.errors.get(:email).first %></span>
	    </div>
	</div>

	<% if @manager.new_record? %>
	  <div class="form-group">
	    <div class="col-sm-2 text-right">
	        <%= f.label :password, class: "control-label required" %>
	    </div>
	      <div class="col-sm-6">
	          <%= f.password_field :password, class: "form-control" %>
	          <span class="txtError"><%= @manager.errors.get(:password).first %></span>
	      </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-2 text-right">
	        <%= f.label :password_confirmation, class: "control-label required" %>
	    </div>
	      <div class="col-sm-6">
	          <%= f.password_field :password_confirmation, class: "form-control" %>
	          <span class="txtError"><%= @manager.errors.get(:password_confirmation).first %></span>
	      </div>
	  </div>
	<% end %>
	
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-6">
	      <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add</button>
	    </div>
	  </div>

<% end %>

