<div class="row">
  <div class="col-md-12">
    <div class="right">
      <%= link_to([@organisation,@manager], href: organisation_manager_path(@organisation,@manager), method: :delete, data: {confirm: 'Do you valid the suppression ?'}, class: "btn") do %>
        <div class="update-nag">
          <div class="update-split"><i class="fa fa-user-times"></i></div>
          <div class="update-text">Remove manager</div>
        </div>
      <% end %>

      <%= link_to(@student, href: edit_organisation_manager_path(@organisation,@manager), class: "btn") do %>
          <div class="update-nag">
            <div class="update-split"><i class="fa fa-pencil"></i></div>
            <div class="update-text">Edit manager</div>
          </div>
      <% end %>
    </div>
    <span class="prefix-title">ORGANISATION MANAGER</span>
    <h1>DETAIL MANAGER <b><%= @manager.full_name %></b></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <img src="http://placehold.it/200x250" alt="" class="img-responsive" />
        </div>
        <div class="col-sm-6 col-md-9">
          <hr>
          <p>
            <br/>
            <i class="fa fa-envelope-o user-fa"></i> <%= @manager.email %>
            <br />
            <i class="fa fa-building user-fa"></i> <%= @organisation.name %>
            <br />
            <i class="fa fa-calendar user-fa"></i> <%= @manager.created_at.strftime('%d.%m.%Y') %>
          </p>
        </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Groups</h2>

    <%= grid(@groups_grid) do |g|

      g.row_attributes do |group|
        {class: "no-link"}
      end

      g.column name: 'Name' do |group|
        group.name
      end

      g.column name: 'Nb students' do |group|
        group.students.count
      end

      g.column name: 'Created at' do |group|
        group.created_at.strftime('%d.%m.%Y')
      end

    end -%>

  </div>
</div>