<div class="col-md-6 padding-box item-shop bought" >
  <div class="box">
    <div class="row">
      <div class="col-md-4 image-content hover">
        <div class="box-hover">
          <h3>
            <i class="fa fa-lock"></i> Bought
          </h3>
        </div>
        <%= image_tag(chapter.thumbnail, :alt => chapter.name, :class => "img-responsive") %>
      </div>
      <div class="col-md-8 info">
        <span class="description"><h5>Description :</h5><%= chapter.description %></span>
        <span class="content-included"><h5>Content included : </h5> <%= chapter.contents.map {|c| c.name }.join(", ") %></span>
      </div>
    </div>
  </div>
</div>