<div class="col-md-6 padding-box item-shop buyable" data-chapter="<%= chapter.id %>">
  <div class="box">
    <div class="row">
      <div class=" col-md-4 image-content">
        <div class="box-hover">
          <h2>
            <i class="fa fa-shopping-cart"></i> <i class="fa fa-check"></i> Buy
          </h2>
        </div>
        <%= image_tag(chapter.thumbnail, :alt => chapter.name, :class => "img-responsive") %>
        <%= f.hidden_field :chapter_ids, :multiple => true, :value =>  nil  %>
      </div>
      <div class="col-md-8 info">
        <span class="description"><h5>Description :</h5><%= chapter.description %></span>
        <span class="content-included"><h5>Content included : </h5> <%= chapter.contents.map {|c| c.name }.join(", ") %></span>
      </div>
    </div>
  </div>
</div>