<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-12">
        <span class="prefix-title"><%= current_user.full_name %></span>
        <h1>Your purchases</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= grid(@purchases_grid) do |g|

          g.row_attributes do |purchase|
            {href: purchase_path(purchase)}
          end

          g.blank_slate  do
            content_tag :div, "No purchase", class: 'well'
          end

          g.column name: 'ID' do |purchase|
            purchase.id
          end

          g.column name: 'Price' do |purchase|
			  '%.2f' %purchase.price.to_s + " $"
          end

          g.column name: 'From' do |purchase|
            purchase.from.strftime("%d %b. %Y")
          end

          g.column name: 'To' do |purchase|
            purchase.to.strftime("%d %b. %Y")
          end

        end -%>
      </div>
    </div>
  </div>
</div>