<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <span class="prefix-title">SHOP</span>
    <h1>IMPROVE YOUR ENGLISH WITH OUR CONTENT</h1>

    <% if current_user.free_content? && current_user.other_purchase? %>

        <div class="row">
          <div class="col-md-12">
            <%= image_tag('banner-shop.jpg', :class => "img-responsive stripe-button") %>
          </div>
        </div>

        <br/>

        <!-- Check out button -->
        <%= form_tag purchases_path, id: 'stripeForm' do -%>
            <a class="btn btn-big-primary stripe-button"><i class="fa fa-shopping-cart"></i> Checkout</a>
            <%= hidden_field_tag 'stripeToken' %>
            <%= hidden_field_tag 'stripeEmail' %>
        <% end %>

    <% elsif current_user.active_purchase? %>

        <% if current_user.type == 'Private' %>
            <em>You still have <b><%= current_user.remaining_time %> days left to use our material</b></em>
        <% else %>
            <em>You have already subscribed to this content, check your <%= link_to "Organizer page", organisation_path(current_user.organisation) %> for more
              information</em>
        <% end %>
    <% else %>

        <div class="row">
          <div class="col-md-12">
            <%= image_tag('banner-shop.jpg', :class => "img-responsive stripe-button") %>
          </div>
        </div>

        <br/>

        <!-- Check out button -->
        <%= form_tag purchases_path, id: 'stripeForm' do -%>
            <a class="btn btn-big-primary stripe-button"><i class="fa fa-shopping-cart"></i> Checkout</a>
            <%= hidden_field_tag 'stripeToken' %>
            <%= hidden_field_tag 'stripeEmail' %>
        <% end %>

    <% end %>
    <br/>
    <hr>
    <p>
      <b>Pay by bank transfer; please put your email address as a reference.</b><br/>
      Banque Cantonale Neuchâteloise, 2001 Neuchâtel, Switzerland.<br/>
      IBAN: CH76 0076 6000 1027 9562 7<br/>
      English in context Sàrl<br/>
      Château 21<br/>
      2000 Neuchâtel<br/>

    </p>

    <!-- Need to make request to DB for getting chapters and packages price and info -->
    <script>
        $(document).on("page:update", function () {
            var handler = StripeCheckout.configure({
                key: "<%= Rails.configuration.stripe[:publishable_key] %>",
                token: function (token, args) {
                    $("#stripeToken").val(token.id);
                    $("#stripeEmail").val(token.email);
                    $("#stripeForm").submit();
                }
            });

            $('.stripe-button').on('click', function (e) {
                // Open Checkout with further options
                handler.open({
                    image: "http://englishincontext.net/img/logo-stripe.png",
                    name: 'All available chapters',
                    description: "Full access 6 month's subscription",
                    amount: 6990,
                    billingAddress: true,
                    locale: "en",
                    currency: "usd"
                });
                e.preventDefault();
            });

            $(window).on('popstate', function () {
                handler.close();
            });

        });

    </script>


    <!-- PAS POUR MAITENANT-->
    <% if false %>
        <%= form_for @purchase do |f| %>
            <div class="row">
              <div class="col-md-12">
              </div>
              <% @chapters.each do |chapter|
                if @chapters_bought.include?(chapter)
                  concat render 'item_bought', chapter: chapter
                else
                  concat render 'item_buying', chapter: chapter, f: f
                end
              end %>
            </div>

            <h3>Total <span class="pull-right"> <span class="shop-total">0.00</span> CHF</span></h3>
            <hr/>
            <div class="col-md-3 col-md-offset-9">
              <%= button_tag(type: "submit", class: "btn btn-big-primary") do %>
                  <i class="fa fa-shopping-cart"></i> Checkout
              <% end %>
            </div>
        <% end %>
    <% end %>
    <!-- PAS POUR MAITENANT-->
  </div>
</div>