<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-12">
        <span class="prefix-title"><%= @purchase.created_at.strftime("%d %b. %Y") %></span>
        <h1>Purchase #<%= @purchase.id %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <dl class="dl-horizontal">
          <dt>Payment reference</dt>
          <dd><%= @purchase.stripe_id %></dd>
          <dt>Price</dt>
          <dd><%= '%.2f' % @purchase.price %> $</dd>
          <dt>Card type</dt>
          <dd><%= @purchase.stripe_card %></dd>
          <dt>Card number</dt>
          <dd>#### #### #### <%= @purchase.stripe_last4 %></dd>
        </dl>
      </div>
      <div class="col-md-12">


        <h2>List of chapters <small>available from <%= @purchase.from.strftime("%d %b. %Y") %> to <%= @purchase.to.strftime("%d %b. %Y") %></small></h2>

        <%= grid(@chapters_grid) do |g|

          g.blank_slate do
            content_tag :div, "No chapter", class: 'well'
          end

          g.column name: 'ID' do |chapter|
            chapter.id
          end

          g.column name: 'Name' do |chapter|
            chapter.name
          end

          g.column name: 'Description' do |chapter|
            chapter.description
          end

        end -%>
      </div>
    </div>
  </div>
</div>


