<% flash.each do |name, msg| %>
  <div class="flash-message <%= flash_class(name) %>" role="alert">
	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<span class="title-flash">
		<%= t name %>
	</span>
	<%= msg %>
  </div>
<% end %>