<h1>List of private accounts</h1>

<%= grid(@privates_grid) do |g|

  g.row_attributes do |private|
    {href: private_path(private)}
  end

  g.blank_slate  do
    content_tag :div, "No private account", class: 'well'
  end

  g.column name: 'ID' do |private|
    private.id
  end

  g.column name: 'First name' do |private|
    private.first_name
  end

  g.column name: 'Last name' do |private|
    private.last_name
  end

  g.column name: 'Email' do |private|
    private.email
  end

  g.column name: 'Level' do |private|
      private.level.humanize
  end

  g.column name: 'Nb connection' do |private|
      private.sign_in_count
  end

  g.column name: 'Last connection' do |private|
      private.last_sign_in_at
  end

  g.column name: 'Created at' do |private|
    private.created_at
  end

end -%>