
<h1>
  <span><%= @private.first_name %> <%= @private.last_name %></span>
</h1>

<hr>

<h2>List of purchases</h2>

<a href="<%= new_private_privates_purchase_path(@private) %>" class="btn btn-primary"><i class="fa fa-plus"></i> add purchase</a>
<br/><br/>

<%= grid(@purchases_grid) do |g|

  g.row_attributes do |purchase|
    {href: private_privates_purchase_path(@private, purchase)}
  end

  g.blank_slate  do
    content_tag :div, "No purchase", class: 'well'
  end

  g.column name: 'ID' do |purchase|
    purchase.id
  end

  g.column name: 'Purchase date' do |purchase|
    purchase.created_at.strftime("%d %b. %Y")
  end

  g.column name: 'Price' do |purchase|
    purchase.price
  end

  g.column name: 'From' do |purchase|
    purchase.from.strftime("%d %b. %Y")
  end

  g.column name: 'To' do |purchase|
    purchase.to.strftime("%d %b. %Y")
  end

  g.column name: 'Number of chapter' do |purchase|
    purchase.subscriptions.count
  end

end -%>