<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-12">
        <span class="prefix-title">English in context</span>
        <h1>Contact Us</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- Contact Form -->
        <%= form_for @contact, url: contact_path, method: :post do |f| %>
            <label>Name</label>
            <div class="row margin-bottom-20">
                <div class="col-md-6 col-md-offset-0">
                    <%= f.text_field :name, class: "form-control"%>
                    <span class="txtError"><%= f.object.errors.get(:name).first if f.object.errors.get(:name) %></span>
                </div>
            </div>
            <label>Email<span class="color-red">*</span></label>
            <div class="row margin-bottom-20">
                <div class="col-md-6 col-md-offset-0">
                    <%= f.text_field :email, class: "form-control"%>
                    <span class="txtError"><%= f.object.errors.get(:email).first if f.object.errors.get(:email) %></span>
                </div>
            </div>
            <label>Message<span class="color-red">*</span></label>
            <div class="row margin-bottom-20">
                <div class="col-md-8 col-md-offset-0">
                    <%= f.text_area :message, rows: 10, class: "form-control" %>
                    <span class="txtError"><%= f.object.errors.get(:message).first if f.object.errors.get(:message) %></span>  
                </div>
            </div>
            <br>
            <p>
                <button type="submit" class="btn btn-primary">Send</button>
            </p>
        <% end %>
        <!-- End Contact Form -->
      </div>
    </div>
  </div>
</div>