<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <span class="prefix-title">English in context</span>
        <h1>Dictionary</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      <div class="embed-responsive-4by3">
        <iframe src="/DICO/index.html" width="100%" height="550px"></iframe>
      </div>
      </div>
    </div>
  </div>
</div>