<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-12">
        <span class="prefix-title">English in context</span>
        <h1>Extras</h1>
      </div>
    </div>

    <!-- FULL DICO / I HUME YOU -->
    <div class="row">

      <div class="col-md-6 col-sm-6 col-xs-6 padding-box">
        <div class="box">
          <div class="image-content support-item">

            <a href="<%= dictionary_path %>">
              <div class="box-hover-support">
                <div>Click to start</div>
              </div>
            </a>

            <div class="support-cat">
              <i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i>
              <span class="text-cat">
                    Dictionary
                  </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-6 padding-box">
        <div class="box">
          <div class="image-content support-item">

            <a href="<%= i_hume_you_path %>">
              <div class="box-hover-support">
                <div>Click to start</div>
              </div>
            </a>

            <div class="support-cat">
              <i class="fa fa-book fa-3x" aria-hidden="true"></i>
              <span class="text-cat">
                    I Hume You
                  </span>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- /////////////////////////////////////////////////////////////////// -->
    <!-- MOVIES -->
    <!-- /////////////////////////////////////////////////////////////////// -->

    <h2>Movies</h2>
    <div class="row">
      <div class="panel-group" id="accordion">

        <div class="panel panel-campus">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#nudge_elbow" aria-expanded="true" aria-controls="collapseOne">
              <h4 class="panel-title">Nudge-Elbow</h4>
            </a>
          </div>
          <div id="nudge_elbow" class="panel-collapse collapse">
            <div class="panel-body">
              <video class="support_video" src="/MOVIES/nudge_elbow/movie.mp4" type="video/mp4" autobuffer="autobuffer" controls="controls"></video>
            </div>
          </div>
        </div>

        <div class="panel panel-campus">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#simple_past_or_present_perfect" aria-expanded="true" aria-controls="collapseOne">
              <h4 class="panel-title">Simple past or present perfect</h4>
            </a>
          </div>
          <div id="simple_past_or_present_perfect" class="panel-collapse collapse">
            <div class="panel-body">
              <video class="support_video" src="/MOVIES/simple_past_or_present_perfect/movie.mp4" type="video/mp4" autobuffer="autobuffer" controls="controls"></video>
            </div>
          </div>
        </div>

        <div class="panel panel-campus">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#simple_present_vs_present_continuous" aria-expanded="true" aria-controls="collapseOne">
              <h4 class="panel-title">Simple present vs present continuous</h4>
            </a>
          </div>
          <div id="simple_present_vs_present_continuous" class="panel-collapse collapse">
            <div class="panel-body">
              <video class="support_video" src="/MOVIES/simple_present_vs_present_continuous/movie.mp4" type="video/mp4" autobuffer="autobuffer" controls="controls"></video>
            </div>
          </div>
        </div>

        <div class="panel panel-campus">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#smiling_is_infectous" aria-expanded="true" aria-controls="collapseOne">
              <h4 class="panel-title">Smiling is infectous</h4>
            </a>
          </div>
          <div id="smiling_is_infectous" class="panel-collapse collapse">
            <div class="panel-body">
              <video class="support_video" src="/MOVIES/smiling_is_infectous/movie.mp4" type="video/mp4" autobuffer="autobuffer" controls="controls"></video>
            </div>
          </div>
        </div>

        <div class="panel panel-campus">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#spelling_rules" aria-expanded="true" aria-controls="collapseOne">
              <h4 class="panel-title">Spelling rules</h4>
            </a>
          </div>
          <div id="spelling_rules" class="panel-collapse collapse">
            <div class="panel-body">
              <video class="support_video" src="/MOVIES/spelling_rules/movie.mp4" type="video/mp4" autobuffer="autobuffer" controls="controls"></video>
            </div>
          </div>
        </div>

        <div class="panel panel-campus">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#to_sneak" aria-expanded="true" aria-controls="collapseOne">
              <h4 class="panel-title">To sneak</h4>
            </a>
          </div>
          <div id="to_sneak" class="panel-collapse collapse">
            <div class="panel-body">
              <video class="support_video" src="/MOVIES/to_sneak/movie.mp4" type="video/mp4" autobuffer="autobuffer" controls="controls"></video>
            </div>
          </div>
        </div>

        <div class="panel panel-campus">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#using_adjectives_to_compare_things" aria-expanded="true" aria-controls="collapseOne">
              <h4 class="panel-title">Using adjectives to compare things</h4>
            </a>
          </div>
          <div id="using_adjectives_to_compare_things" class="panel-collapse collapse">
            <div class="panel-body">
              <video class="support_video" src="/MOVIES/using_adjectives_to_compare_things/movie.mp4" type="video/mp4" autobuffer="autobuffer" controls="controls"></video>
            </div>
          </div>
        </div>

        <div class="panel panel-campus">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#in_or_into" aria-expanded="true" aria-controls="collapseOne">
              <h4 class="panel-title">In or into?</h4>
            </a>
          </div>
          <div id="in_or_into" class="panel-collapse collapse">
            <div class="panel-body">
              <video class="support_video" src="/MOVIES/in_or_into/movie.mp4" type="video/mp4" autobuffer="autobuffer" controls="controls"></video>
            </div>
          </div>
        </div>

        <div class="panel panel-campus">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#on_or_onto" aria-expanded="true" aria-controls="collapseOne">
              <h4 class="panel-title">On or onto?</h4>
            </a>
          </div>
          <div id="on_or_onto" class="panel-collapse collapse">
            <div class="panel-body">
              <video class="support_video" src="/MOVIES/on_or_onto/movie.mp4" type="video/mp4" autobuffer="autobuffer" controls="controls"></video>
            </div>
          </div>
        </div>

        <div class="panel panel-campus">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#push_or_shove" aria-expanded="true" aria-controls="collapseOne">
              <h4 class="panel-title">Push or shove?</h4>
            </a>
          </div>
          <div id="push_or_shove" class="panel-collapse collapse">
            <div class="panel-body">
              <video class="support_video" src="/MOVIES/push_or_shove/movie.mp4" type="video/mp4" autobuffer="autobuffer" controls="controls"></video>
            </div>
          </div>
        </div>

        <div class="panel panel-campus">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#tut_nod_more" aria-expanded="true" aria-controls="collapseOne">
              <h4 class="panel-title">Tut, nod & more</h4>
            </a>
          </div>
          <div id="tut_nod_more" class="panel-collapse collapse">
            <div class="panel-body">
              <video class="support_video" src="/MOVIES/tut_nod_more/movie.mp4" type="video/mp4" autobuffer="autobuffer" controls="controls"></video>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- /////////////////////////////////////////////////////////////////// -->
    <!-- TESTS -->
    <!-- /////////////////////////////////////////////////////////////////// -->

    <h2>Tests</h2>
    <div class="row">
      <div class="panel-group" id="tests">

        <div class="panel panel-campus">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#tests" href="#a1" aria-expanded="true" aria-controls="a1">
              <h4 class="panel-title">A1</h4>
            </a>
          </div>
          <div id="a1" class="panel-collapse collapse">
            <div class="panel-body">
              <a href="<%= test_url('a1', '1-10') %>" class="btn btn-primary btn-test">1-10</a>
              <a href="<%= test_url('a1', '11-20') %>" class="btn btn-primary btn-test">11-20</a>
              <a href="<%= test_url('a1', '21-30') %>" class="btn btn-primary btn-test">21-30</a>
              <a href="<%= test_url('a1', '31-40') %>" class="btn btn-primary btn-test">31-40</a>
              <a href="<%= test_url('a1', '41-50') %>" class="btn btn-primary btn-test">41-50</a>
              <a href="<%= test_url('a1', '51-60') %>" class="btn btn-primary btn-test">51-60</a>
              <a href="<%= test_url('a1', '61-70') %>" class="btn btn-primary btn-test">61-70</a>
              <a href="<%= test_url('a1', '71-80') %>" class="btn btn-primary btn-test">71-80</a>
              <a href="<%= test_url('a1', '81-90') %>" class="btn btn-primary btn-test">81-90</a>
              <a href="<%= test_url('a1', '91-100') %>" class="btn btn-primary btn-test">91-100</a>
              <a href="<%= test_url('a1', '101-110') %>" class="btn btn-primary btn-test">101-110</a>
              <a href="<%= test_url('a1', '111-120') %>" class="btn btn-primary btn-test">111-120</a>
              <a href="<%= test_url('a1', '121-130') %>" class="btn btn-primary btn-test">121-130</a>
              <a href="<%= test_url('a1', '131-140') %>" class="btn btn-primary btn-test">131-140</a>
              <a href="<%= test_url('a1', '141-150') %>" class="btn btn-primary btn-test">141-150</a>
              <a href="<%= test_url('a1', '151-160') %>" class="btn btn-primary btn-test">151-160</a>
              <a href="<%= test_url('a1', '161-170') %>" class="btn btn-primary btn-test">161-170</a>
              <a href="<%= test_url('a1', '171-180') %>" class="btn btn-primary btn-test">171-180</a>
              <a href="<%= test_url('a1', '181-190') %>" class="btn btn-primary btn-test">181-190</a>
              <a href="<%= test_url('a1', '191-200') %>" class="btn btn-primary btn-test">191-200</a>
            </div>
          </div>
        </div>

        <div class="panel panel-campus">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#tests" href="#a1-a2" aria-expanded="true" aria-controls="a1-a2">
              <h4 class="panel-title">A1-A2</h4>
            </a>
          </div>
          <div id="a1-a2" class="panel-collapse collapse">
            <div class="panel-body">
              <a href="<%= test_url('a1-a2', '1-10') %>" class="btn btn-primary btn-test">1-10</a>
              <a href="<%= test_url('a1-a2', '11-20') %>" class="btn btn-primary btn-test">11-20</a>
              <a href="<%= test_url('a1-a2', '21-30') %>" class="btn btn-primary btn-test">21-30</a>
              <a href="<%= test_url('a1-a2', '31-40') %>" class="btn btn-primary btn-test">31-40</a>
              <a href="<%= test_url('a1-a2', '41-50') %>" class="btn btn-primary btn-test">41-50</a>
              <a href="<%= test_url('a1-a2', '51-60') %>" class="btn btn-primary btn-test">51-60</a>
              <a href="<%= test_url('a1-a2', '61-70') %>" class="btn btn-primary btn-test">61-70</a>
              <a href="<%= test_url('a1-a2', '71-80') %>" class="btn btn-primary btn-test">71-80</a>
              <a href="<%= test_url('a1-a2', '81-90') %>" class="btn btn-primary btn-test">81-90</a>
              <a href="<%= test_url('a1-a2', '91-100') %>" class="btn btn-primary btn-test">91-100</a>
              <a href="<%= test_url('a1-a2', '101-110') %>" class="btn btn-primary btn-test">101-110</a>
              <a href="<%= test_url('a1-a2', '111-120') %>" class="btn btn-primary btn-test">111-120</a>
              <a href="<%= test_url('a1-a2', '121-130') %>" class="btn btn-primary btn-test">121-130</a>
              <a href="<%= test_url('a1-a2', '131-140') %>" class="btn btn-primary btn-test">131-140</a>
              <a href="<%= test_url('a1-a2', '141-150') %>" class="btn btn-primary btn-test">141-150</a>
              <a href="<%= test_url('a1-a2', '151-160') %>" class="btn btn-primary btn-test">151-160</a>
              <a href="<%= test_url('a1-a2', '161-170') %>" class="btn btn-primary btn-test">161-170</a>
              <a href="<%= test_url('a1-a2', '171-180') %>" class="btn btn-primary btn-test">171-180</a>
              <a href="<%= test_url('a1-a2', '181-190') %>" class="btn btn-primary btn-test">181-190</a>
              <a href="<%= test_url('a1-a2', '191-200') %>" class="btn btn-primary btn-test">191-200</a>
            </div>
          </div>
        </div>

        <div class="panel panel-campus">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#tests" href="#a2" aria-expanded="true" aria-controls="a2">
              <h4 class="panel-title">A2</h4>
            </a>
          </div>
          <div id="a2" class="panel-collapse collapse">
            <div class="panel-body">
              <a href="<%= test_url('a2', '1-10') %>" class="btn btn-primary btn-test">1-10</a>
              <a href="<%= test_url('a2', '11-20') %>" class="btn btn-primary btn-test">11-20</a>
              <a href="<%= test_url('a2', '21-30') %>" class="btn btn-primary btn-test">21-30</a>
              <a href="<%= test_url('a2', '31-40') %>" class="btn btn-primary btn-test">31-40</a>
              <a href="<%= test_url('a2', '41-50') %>" class="btn btn-primary btn-test">41-50</a>
              <a href="<%= test_url('a2', '51-60') %>" class="btn btn-primary btn-test">51-60</a>
              <a href="<%= test_url('a2', '61-70') %>" class="btn btn-primary btn-test">61-70</a>
              <a href="<%= test_url('a2', '71-80') %>" class="btn btn-primary btn-test">71-80</a>
              <a href="<%= test_url('a2', '81-90') %>" class="btn btn-primary btn-test">81-90</a>
              <a href="<%= test_url('a2', '91-100') %>" class="btn btn-primary btn-test">91-100</a>
              <a href="<%= test_url('a2', '101-110') %>" class="btn btn-primary btn-test">101-110</a>
              <a href="<%= test_url('a2', '111-120') %>" class="btn btn-primary btn-test">111-120</a>
              <a href="<%= test_url('a2', '121-130') %>" class="btn btn-primary btn-test">121-130</a>
              <a href="<%= test_url('a2', '131-140') %>" class="btn btn-primary btn-test">131-140</a>
              <a href="<%= test_url('a2', '141-150') %>" class="btn btn-primary btn-test">141-150</a>
              <a href="<%= test_url('a2', '151-160') %>" class="btn btn-primary btn-test">151-160</a>
              <a href="<%= test_url('a2', '161-170') %>" class="btn btn-primary btn-test">161-170</a>
              <a href="<%= test_url('a2', '171-180') %>" class="btn btn-primary btn-test">171-180</a>
              <a href="<%= test_url('a2', '181-190') %>" class="btn btn-primary btn-test">181-190</a>
              <a href="<%= test_url('a2', '191-200') %>" class="btn btn-primary btn-test">191-200</a>
            </div>
          </div>
        </div>

        <div class="panel panel-campus">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#tests" href="#a2-b1" aria-expanded="true" aria-controls="a2-b1">
              <h4 class="panel-title">A2-B1</h4>
            </a>
          </div>
          <div id="a2-b1" class="panel-collapse collapse">
            <div class="panel-body">
              <a href="<%= test_url('a2-b1', '1-10') %>" class="btn btn-primary btn-test">1-10</a>
              <a href="<%= test_url('a2-b1', '11-20') %>" class="btn btn-primary btn-test">11-20</a>
              <a href="<%= test_url('a2-b1', '21-30') %>" class="btn btn-primary btn-test">21-30</a>
              <a href="<%= test_url('a2-b1', '31-40') %>" class="btn btn-primary btn-test">31-40</a>
              <a href="<%= test_url('a2-b1', '41-50') %>" class="btn btn-primary btn-test">41-50</a>
              <a href="<%= test_url('a2-b1', '51-60') %>" class="btn btn-primary btn-test">51-60</a>
              <a href="<%= test_url('a2-b1', '61-70') %>" class="btn btn-primary btn-test">61-70</a>
              <a href="<%= test_url('a2-b1', '71-80') %>" class="btn btn-primary btn-test">71-80</a>
              <a href="<%= test_url('a2-b1', '81-90') %>" class="btn btn-primary btn-test">81-90</a>
              <a href="<%= test_url('a2-b1', '91-100') %>" class="btn btn-primary btn-test">91-100</a>
              <a href="<%= test_url('a2-b1', '101-110') %>" class="btn btn-primary btn-test">101-110</a>
              <a href="<%= test_url('a2-b1', '111-120') %>" class="btn btn-primary btn-test">111-120</a>
              <a href="<%= test_url('a2-b1', '121-130') %>" class="btn btn-primary btn-test">121-130</a>
              <a href="<%= test_url('a2-b1', '131-140') %>" class="btn btn-primary btn-test">131-140</a>
              <a href="<%= test_url('a2-b1', '141-150') %>" class="btn btn-primary btn-test">141-150</a>
              <a href="<%= test_url('a2-b1', '151-160') %>" class="btn btn-primary btn-test">151-160</a>
              <a href="<%= test_url('a2-b1', '161-170') %>" class="btn btn-primary btn-test">161-170</a>
              <a href="<%= test_url('a2-b1', '171-180') %>" class="btn btn-primary btn-test">171-180</a>
              <a href="<%= test_url('a2-b1', '181-190') %>" class="btn btn-primary btn-test">181-190</a>
              <a href="<%= test_url('a2-b1', '191-200') %>" class="btn btn-primary btn-test">191-200</a>
            </div>
          </div>
        </div>

        <div class="panel panel-campus">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#tests" href="#b1" aria-expanded="true" aria-controls="b1">
              <h4 class="panel-title">B1</h4>
            </a>
          </div>
          <div id="b1" class="panel-collapse collapse">
            <div class="panel-body">
              <a href="<%= test_url('b1', '1-10') %>" class="btn btn-primary btn-test">1-10</a>
              <a href="<%= test_url('b1', '11-20') %>" class="btn btn-primary btn-test">11-20</a>
              <a href="<%= test_url('b1', '21-30') %>" class="btn btn-primary btn-test">21-30</a>
              <a href="<%= test_url('b1', '31-40') %>" class="btn btn-primary btn-test">31-40</a>
              <a href="<%= test_url('b1', '41-50') %>" class="btn btn-primary btn-test">41-50</a>
              <a href="<%= test_url('b1', '51-60') %>" class="btn btn-primary btn-test">51-60</a>
              <a href="<%= test_url('b1', '61-70') %>" class="btn btn-primary btn-test">61-70</a>
              <a href="<%= test_url('b1', '71-80') %>" class="btn btn-primary btn-test">71-80</a>
              <a href="<%= test_url('b1', '81-90') %>" class="btn btn-primary btn-test">81-90</a>
              <a href="<%= test_url('b1', '91-100') %>" class="btn btn-primary btn-test">91-100</a>
              <a href="<%= test_url('b1', '101-110') %>" class="btn btn-primary btn-test">101-110</a>
              <a href="<%= test_url('b1', '111-120') %>" class="btn btn-primary btn-test">111-120</a>
              <a href="<%= test_url('b1', '121-130') %>" class="btn btn-primary btn-test">121-130</a>
              <a href="<%= test_url('b1', '131-140') %>" class="btn btn-primary btn-test">131-140</a>
              <a href="<%= test_url('b1', '141-150') %>" class="btn btn-primary btn-test">141-150</a>
              <a href="<%= test_url('b1', '151-160') %>" class="btn btn-primary btn-test">151-160</a>
              <a href="<%= test_url('b1', '161-170') %>" class="btn btn-primary btn-test">161-170</a>
              <a href="<%= test_url('b1', '171-180') %>" class="btn btn-primary btn-test">171-180</a>
              <a href="<%= test_url('b1', '181-190') %>" class="btn btn-primary btn-test">181-190</a>
              <a href="<%= test_url('b1', '191-200') %>" class="btn btn-primary btn-test">191-200</a>
            </div>
          </div>
        </div>

        <div class="panel panel-campus">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#tests" href="#b1-b2" aria-expanded="true" aria-controls="b1-b2">
              <h4 class="panel-title">B1-B2</h4>
            </a>
          </div>
          <div id="b1-b2" class="panel-collapse collapse">
            <div class="panel-body">
              <a href="<%= test_url('b1-b2', '1-10') %>" class="btn btn-primary btn-test">1-10</a>
              <a href="<%= test_url('b1-b2', '11-20') %>" class="btn btn-primary btn-test">11-20</a>
              <a href="<%= test_url('b1-b2', '21-30') %>" class="btn btn-primary btn-test">21-30</a>
              <a href="<%= test_url('b1-b2', '31-40') %>" class="btn btn-primary btn-test">31-40</a>
              <a href="<%= test_url('b1-b2', '41-50') %>" class="btn btn-primary btn-test">41-50</a>
              <a href="<%= test_url('b1-b2', '51-60') %>" class="btn btn-primary btn-test">51-60</a>
              <a href="<%= test_url('b1-b2', '61-70') %>" class="btn btn-primary btn-test">61-70</a>
              <a href="<%= test_url('b1-b2', '71-80') %>" class="btn btn-primary btn-test">71-80</a>
              <a href="<%= test_url('b1-b2', '81-90') %>" class="btn btn-primary btn-test">81-90</a>
              <a href="<%= test_url('b1-b2', '91-100') %>" class="btn btn-primary btn-test">91-100</a>
              <a href="<%= test_url('b1-b2', '101-110') %>" class="btn btn-primary btn-test">101-110</a>
              <a href="<%= test_url('b1-b2', '111-120') %>" class="btn btn-primary btn-test">111-120</a>
              <a href="<%= test_url('b1-b2', '121-130') %>" class="btn btn-primary btn-test">121-130</a>
              <a href="<%= test_url('b1-b2', '131-140') %>" class="btn btn-primary btn-test">131-140</a>
              <a href="<%= test_url('b1-b2', '141-150') %>" class="btn btn-primary btn-test">141-150</a>
              <a href="<%= test_url('b1-b2', '151-160') %>" class="btn btn-primary btn-test">151-160</a>
              <a href="<%= test_url('b1-b2', '161-170') %>" class="btn btn-primary btn-test">161-170</a>
              <a href="<%= test_url('b1-b2', '171-180') %>" class="btn btn-primary btn-test">171-180</a>
              <a href="<%= test_url('b1-b2', '181-190') %>" class="btn btn-primary btn-test">181-190</a>
              <a href="<%= test_url('b1-b2', '191-200') %>" class="btn btn-primary btn-test">191-200</a>
            </div>
          </div>
        </div>

        <div class="panel panel-campus">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#tests" href="#b2" aria-expanded="true" aria-controls="b2">
              <h4 class="panel-title">B2</h4>
            </a>
          </div>
          <div id="b2" class="panel-collapse collapse">
            <div class="panel-body">
              <a href="<%= test_url('b2', '1-10') %>" class="btn btn-primary btn-test">1-10</a>
              <a href="<%= test_url('b2', '11-20') %>" class="btn btn-primary btn-test">11-20</a>
              <a href="<%= test_url('b2', '21-30') %>" class="btn btn-primary btn-test">21-30</a>
              <a href="<%= test_url('b2', '31-40') %>" class="btn btn-primary btn-test">31-40</a>
              <a href="<%= test_url('b2', '41-50') %>" class="btn btn-primary btn-test">41-50</a>
              <a href="<%= test_url('b2', '51-60') %>" class="btn btn-primary btn-test">51-60</a>
              <a href="<%= test_url('b2', '61-70') %>" class="btn btn-primary btn-test">61-70</a>
              <a href="<%= test_url('b2', '71-80') %>" class="btn btn-primary btn-test">71-80</a>
              <a href="<%= test_url('b2', '81-90') %>" class="btn btn-primary btn-test">81-90</a>
              <a href="<%= test_url('b2', '91-100') %>" class="btn btn-primary btn-test">91-100</a>
              <a href="<%= test_url('b2', '101-110') %>" class="btn btn-primary btn-test">101-110</a>
              <a href="<%= test_url('b2', '111-120') %>" class="btn btn-primary btn-test">111-120</a>
              <a href="<%= test_url('b2', '121-130') %>" class="btn btn-primary btn-test">121-130</a>
              <a href="<%= test_url('b2', '131-140') %>" class="btn btn-primary btn-test">131-140</a>
              <a href="<%= test_url('b2', '141-150') %>" class="btn btn-primary btn-test">141-150</a>
              <a href="<%= test_url('b2', '151-160') %>" class="btn btn-primary btn-test">151-160</a>
              <a href="<%= test_url('b2', '161-170') %>" class="btn btn-primary btn-test">161-170</a>
              <a href="<%= test_url('b2', '171-180') %>" class="btn btn-primary btn-test">171-180</a>
              <a href="<%= test_url('b2', '181-190') %>" class="btn btn-primary btn-test">181-190</a>
              <a href="<%= test_url('b2', '191-200') %>" class="btn btn-primary btn-test">191-200</a>
            </div>
          </div>
        </div>

        <div class="panel panel-campus">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#tests" href="#b2-plus" aria-expanded="true" aria-controls="b2-plus">
              <h4 class="panel-title">B2+</h4>
            </a>
          </div>
          <div id="b2-plus" class="panel-collapse collapse">
            <div class="panel-body">
              <a href="<%= test_url('b2+', '1-10') %>" class="btn btn-primary btn-test">1-10</a>
              <a href="<%= test_url('b2+', '11-20') %>" class="btn btn-primary btn-test">11-20</a>
              <a href="<%= test_url('b2+', '21-30') %>" class="btn btn-primary btn-test">21-30</a>
              <a href="<%= test_url('b2+', '31-40') %>" class="btn btn-primary btn-test">31-40</a>
              <a href="<%= test_url('b2+', '41-50') %>" class="btn btn-primary btn-test">41-50</a>
              <a href="<%= test_url('b2+', '51-60') %>" class="btn btn-primary btn-test">51-60</a>
              <a href="<%= test_url('b2+', '61-70') %>" class="btn btn-primary btn-test">61-70</a>
              <a href="<%= test_url('b2+', '71-80') %>" class="btn btn-primary btn-test">71-80</a>
              <a href="<%= test_url('b2+', '81-90') %>" class="btn btn-primary btn-test">81-90</a>
              <a href="<%= test_url('b2+', '91-100') %>" class="btn btn-primary btn-test">91-100</a>
              <a href="<%= test_url('b2+', '101-110') %>" class="btn btn-primary btn-test">101-110</a>
              <a href="<%= test_url('b2+', '111-120') %>" class="btn btn-primary btn-test">111-120</a>
              <a href="<%= test_url('b2+', '121-130') %>" class="btn btn-primary btn-test">121-130</a>
              <a href="<%= test_url('b2+', '131-140') %>" class="btn btn-primary btn-test">131-140</a>
              <a href="<%= test_url('b2+', '141-150') %>" class="btn btn-primary btn-test">141-150</a>
              <a href="<%= test_url('b2+', '151-160') %>" class="btn btn-primary btn-test">151-160</a>
              <a href="<%= test_url('b2+', '161-170') %>" class="btn btn-primary btn-test">161-170</a>
              <a href="<%= test_url('b2+', '171-180') %>" class="btn btn-primary btn-test">171-180</a>
              <a href="<%= test_url('b2+', '181-190') %>" class="btn btn-primary btn-test">181-190</a>
              <a href="<%= test_url('b2+', '191-200') %>" class="btn btn-primary btn-test">191-200</a>
            </div>
          </div>
        </div>

        <div class="panel panel-campus">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#tests" href="#c1" aria-expanded="true" aria-controls="c1">
              <h4 class="panel-title">C1</h4>
            </a>
          </div>
          <div id="c1" class="panel-collapse collapse">
            <div class="panel-body">
              <a href="<%= test_url('c1', '1-10') %>" class="btn btn-primary btn-test">1-10</a>
              <a href="<%= test_url('c1', '11-20') %>" class="btn btn-primary btn-test">11-20</a>
              <a href="<%= test_url('c1', '21-30') %>" class="btn btn-primary btn-test">21-30</a>
              <a href="<%= test_url('c1', '31-40') %>" class="btn btn-primary btn-test">31-40</a>
              <a href="<%= test_url('c1', '41-50') %>" class="btn btn-primary btn-test">41-50</a>
              <a href="<%= test_url('c1', '51-60') %>" class="btn btn-primary btn-test">51-60</a>
              <a href="<%= test_url('c1', '61-70') %>" class="btn btn-primary btn-test">61-70</a>
              <a href="<%= test_url('c1', '71-80') %>" class="btn btn-primary btn-test">71-80</a>
              <a href="<%= test_url('c1', '81-90') %>" class="btn btn-primary btn-test">81-90</a>
              <a href="<%= test_url('c1', '91-100') %>" class="btn btn-primary btn-test">91-100</a>
              <a href="<%= test_url('c1', '101-110') %>" class="btn btn-primary btn-test">101-110</a>
              <a href="<%= test_url('c1', '111-120') %>" class="btn btn-primary btn-test">111-120</a>
              <a href="<%= test_url('c1', '121-130') %>" class="btn btn-primary btn-test">121-130</a>
              <a href="<%= test_url('c1', '131-140') %>" class="btn btn-primary btn-test">131-140</a>
              <a href="<%= test_url('c1', '141-150') %>" class="btn btn-primary btn-test">141-150</a>
              <a href="<%= test_url('c1', '151-160') %>" class="btn btn-primary btn-test">151-160</a>
              <a href="<%= test_url('c1', '161-170') %>" class="btn btn-primary btn-test">161-170</a>
              <a href="<%= test_url('c1', '171-180') %>" class="btn btn-primary btn-test">171-180</a>
              <a href="<%= test_url('c1', '181-190') %>" class="btn btn-primary btn-test">181-190</a>
              <a href="<%= test_url('c1', '191-200') %>" class="btn btn-primary btn-test">191-200</a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>