<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-12">
        <span class="prefix-title">English in context</span>
        <h1>Unauthorized</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>You are not allowed to access this content</p>
        <p><%= link_to "Back to the homepage", root_path, :class => "btn btn-primary" %></p>
      </div>
    </div>
  </div>
</div>