<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-12">
        <span class="prefix-title">English in context</span>
        <h1>Internal error</h1>
      </div>
    </div>
    <div class="row">
      <p>An error has occurred. Please contact us and describe your problem.</p>
      <p><%= link_to "Back to the homepage", root_path, :class => "btn btn-primary" %></p>
    </div>
  </div>
</div>