<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-12">
        <span class="prefix-title">English in context</span>
        <h1>Newsletter</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
        Coming soon
        </p>
      </div>
    </div>
  </div>
</div>