<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-12">
        <span class="prefix-title">English in context</span>
        <h1>Page not found</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>The page you are trying to reach does not exist.</p>
        <p><%= link_to "Back to the homepage", root_path, :class => "btn btn-primary" %></p>
      </div>
    </div>
  </div>
</div>