<h1>Edit Global settings</h1>

<%= form_for @setting, html: {class: "form-horizontal"} do |f| %>

	<div class="form-group">
	    <div class="col-sm-2 text-right">
	    	<%= f.label :description, class: "control-label required" %>
	    </div>
	    <div class="col-sm-6">
	        <%= f.text_area :description, class: "form-control" %>
	        <span class="txtError"><%= @setting.errors.get(:description).first %></span>
	    </div>
	</div>
	
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-6">
	      <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> Modify</button>
	    </div>
	  </div>

<% end %>

