<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal"}) do |f| %>

  <%= f.email_field :email, autofocus: true, placeholder: :email, class: 'form-control' %>

  <%= f.password_field :password, autocomplete: "off", placeholder: :password, class: 'form-control' %>

  <div class="actions">
    <%= f.submit 'Log in', class: 'btn btn-block btn-login' %>
  </div>

  <% if devise_mapping.rememberable? -%>

    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="pull-right">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
    </br>

  <% end -%>
<% end %>

<% if false %>

  <div class="demo-account">
    <a data-toggle="collapse" data-target="#demo">
      <h4 class="text-center">Demo accounts <i class="fa fa-chevron-down" aria-hidden="true"></i></h4>
    </a>
    <div id="demo" class="collapse">
      <table style="width:100%; margin-left:50px; margin-right:50px;">
        <tr>
          <th style="width:50%">Login</th>
          <th style="width:50%">Password</th>
        </tr>
        <tr>
          <td>student1_1@demo.com</td>
          <td>12345678</td>
        </tr>
        <tr>
          <td>student1_2@demo.com</td>
          <td>12345678</td>
        </tr>
        <tr>
          <td>student2@demo.com</td>
          <td>12345678</td>
        </tr>
        <tr>
          <td>manager1@demo.com</td>
          <td>12345678</td>
        </tr>
        <tr>
          <td>manager2@demo.com</td>
          <td>12345678</td>
        </tr>
        <tr>
          <td>organizer@demo.com</td>
          <td>12345678</td>
        </tr>
        <tr>
          <td>administrator@demo.com</td>
          <td>12345678</td>
        </tr>
      </table>
    </div>
  </div>

<% end %>