<h2><%= t 'devise.invitations.edit.header' %></h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>

  <% if f.object.class.require_password_on_accepting %>
	  <%= f.password_field :password, autofocus: true, placeholder: :password, class: 'form-control' %>
	  <%= f.password_field :password_confirmation, autofocus: true, placeholder: :password_confirmation, class: 'form-control' %>
  <% end %>

  <div class="actions">
    <%= f.submit t("devise.invitations.edit.submit_button"), class: 'btn btn-block btn-login' %>
  </div>

<% end %>
<div class="row">
	<div class="col-md-12">
		<div class="pull-right">
			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>
</br>
