<h3>Choose chapters</h3>

<div class="well">
  <div class="checkbox">
    <label>
      <%= check_box_tag 'selectAll' %>
      <i>Select / Deselect All</i>
    </label>
  </div>
  <br/>

  <% @chapter.each do |chapter| %>
      <div class="checkbox">
        <label>
          <%= check_box_tag 'purchase[chapter_ids][]', chapter.id, f.object.chapters.include?(chapter) %>
          <%= chapter.name %>
        </label>
      </div>
  <% end %>
</div>


<div class="form-group">
  <div class="col-sm-2 text-right">
    <%= f.label :from, class: "control-label required" %>
  </div>
  <div class="col-sm-6">
    <%= f.datetime_select :from, default: DateTime.now, class: "form-control" %>
    <span class="txtError"><%= f.object.errors.get(:from).first %></span>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-2 text-right">
    <%= f.label :to, class: "control-label required" %>
  </div>
  <div class="col-sm-6">
    <%= f.datetime_select :to, default: DateTime.now + 1.year, class: "form-control" %>
    <span class="txtError"><%= f.object.errors.get(:to).first %></span>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-2 text-right">
    <%= f.label :price, class: "control-label required" %>
  </div>
  <div class="col-sm-6">
    <%= f.text_field :price, class: "form-control" %>
    <span class="txtError"><%= f.object.errors.get(:price).first %></span>
  </div>
</div>


<div class="form-group">
  <div class="col-sm-offset-2 col-sm-6">
    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Save</button>
  </div>
</div>