<h1>Edit Purchase</h1>

<%= form_for [@organisation, @purchase], url: organisation_organisations_purchase_path, html: {class: "form-horizontal"} do |f| %>

    <%= render 'form',  f: f %>

<% end %>

