<h1>Add Purchase</h1>

<%= form_for @purchase, url: organisation_organisations_purchases_path(@organisation, @purchase), html: {class: "form-horizontal"} do |f| %>

    <%= render 'form',  f: f %>

<% end %>

