<% url = EnglishInContextCampus::Application.routes.url_helpers %>

$(document).on("ready page:update", function () {

  $(".support_video").on("ended",function() {

    var $support = $(".support_video").data("support");

    $.ajax({
      type: "POST",
      url: '/supports/'+$support+'/achievements'
    });
  });

});
