<nav role="navigation" class="navbar navbar-default">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="visible-xs">
			<div class="nav-mobile-lessons">Lessons</div>
		</div>
	</div>

	<div id="navbarCollapse" class="collapse navbar-collapse">
		<ul>
			<% chapters.each do |chapter| %>
				<% if !chapter.release_date.present? %>
					<li class="<%= "selected" if chapter == current_chapter %>"><%= link_to 'STEP ' + chapter.number.to_s, chapter_url(chapter) %>
						<% if chapter == current_chapter %>
							<ul>
								<li><span>Lesson</span>
									<ol>
										<% @contents.each do |content| %>
											<li class="<%= 'selected' if !defined?(current_content).nil? && current_content == content %>">
												<%= link_to (content.name + (content.test(current_user).present? ? content.test(current_user).degree_achievement_side_menu(current_user) : '')).html_safe, chapter_content_url(chapter, content) %>
											</li>
										<% end %>
									</ol>
								</li>
								<li><span>Tools</span>
									<ul class="left-nav-supports">
										<% if @supports.present? %>
											<% @supports.where(level: (current_user.type == "Student" ? [0, User.levels[current_user.level]] : [0..2])).each do |support| %>
												<li><%= link_to support.name, chapter_support_url(chapter, support) %></li>
											<% end %>
										<% else %>
											<li><i>No tools</i></li>
										<% end %>
									</ul>
								</li>
							</ul>
						<% end %>
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>
</nav>