<div class="row">
  <div class="col-md-12">
    <h1>Your courses</h1>
    <hr>
  </div>
  <% @chapters.each do |chapter| %>
  <div class="col-md-4 padding-box">
    <div class="box">
      <div class="image-content">

        <% if chapter.release_date.present? %>

          <div class="coming_soon">
            <h2><%= chapter.release_date.strftime('%B %Y') %></h2>
          </div>
          
        <% else %>
          <a href="<%= chapter_path(chapter) %>">
            <div class="box-hover">
              <h2>Click to learn</h2>
            </div>
          </a>
        <% end %>

        <%= image_tag(chapter.thumbnail, :alt => chapter.name, :class => "img-responsive") %>

      </div>
    </div>
  </div>

  <% end %>

</div>
