<% content_for :sidebar do %>
    <%= render 'chapters/sidebar', chapters: @chapters, current_chapter: @chapter, supports: @supports %>
<% end %>


<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <span class="prefix-title"><%= 'STEP ' + @chapter.number.to_s %></span>
    <h1><%= @chapter.name.upcase %></h1>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p><%= @chapter.description %></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-12">
    <h2>
      LESSONS
    </h2>
    <div class="row">
      <% chapter_cpt = 0 %>
      <% @contents.each do |content| %>
          <div class="col-md-3 col-sm-6 col-xs-6 padding-box  <%= 'support_badge' + " " + content.test(current_user).degree_achievement(current_user) if content.test(current_user).present? and content.test(current_user).support_type.name == "Quiz" %>" data-badge="<%= content.test(current_user).score_by_user(current_user).round if content.test(current_user).present? %>%">

            <div class="box">
              <div class="image-content">
                <a href="<%= chapter_content_path(@chapter, content) %>">
                  <div class="box-hover">
                    <div>Click to learn</div>
                  </div>
                </a>
                <%= image_tag(content.thumbnail, :alt => content.name, :class => "img-responsive") %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-6">
    <h2>
      TOOLS
    </h2>
    <div class="row">
      <% if @supports.present? %>
      <% @supports.where(level: (current_user.type == "Student" ? [0, User.levels[current_user.level]] : [0..2])).each do |support| %>
          <div class="col-md-3 col-sm-6 col-xs-6 padding-box <%= 'support_badge' + " " + support.degree_achievement(current_user) if support.support_type.name == "Quiz" %>" data-badge="<%= support.score_by_user(current_user).round %>%">
            <div class="box">
              <div class="image-content support-item <%= support.degree_achievement(current_user) %>">

                <a href="<%= chapter_support_path(@chapter, support) %>">
                  <div class="box-hover-support">
                    <div>Click to start</div>
                  </div>
                </a>

                <div class="support-cat">
                  <i class="fa <%= support.support_type.icon %> fa-3x" aria-hidden="true"></i>
                  <span class="text-cat">
                    <%= support.name %>
                  </span>
                </div>

              </div>
            </div>
          </div>
      <% end %>
          <% else %>
          <div class="col-md-12">
            <div class="well">
              <i>No tools</i>
            </div>
          </div>

      <% end %>
    </div>
  </div>
</div>