<h1>Purchase #<%= @purchase.id %>
  <small> <%= @purchase.created_at.strftime("%d %b. %Y") %></small>
</h1>

<a href="<%= edit_private_privates_purchase_path(@private, @purchase) %>">Edit</a>

<dl class="dl-horizontal">
  <dt>Purchasable</dt>
  <dd><%= @purchase.purchasable.full_name %></dd>
  <dt>Price</dt>
  <dd><%= @purchase.price %></dd>
  <dt>From</dt>
  <dd><%= @purchase.from.strftime("%d %b. %Y") %></dd>
  <dt>To</dt>
  <dd><%= @purchase.to.strftime("%d %b. %Y") %></dd>
</dl>

<h2>List of chapters</h2>

<%= grid(@chapters_grid) do |g|

  g.blank_slate do
    content_tag :div, "No chapter", class: 'well'
  end

  g.column name: 'ID' do |chapter|
    chapter.id
  end

  g.column name: 'Name' do |chapter|
    chapter.name
  end

  g.column name: 'Description' do |chapter|
    chapter.description
  end

end -%>