<%= audio_tag(@path, controls: true, :class => "support_audio", :data => {:chapter => params[:chapter_id], :content => params[:content_id], :support => params[:id]}) %><br />

<%= image_tag(@story_path, :class => "img-responsive") %>
