<div class="embed-responsive-4by3">
  <iframe src="<%= "#{@path}?USER_EMAIL=#{current_user.email}&SID=#{params[:id]}&UID=#{current_user.id}&TKN=#{@achievement.ispring_token if @achievement.present?}" %>" width="100%" height="550px"></iframe>
</div>
