<% content_for :sidebar do %>
    <%= render 'chapters/sidebar', chapters: @chapters, current_chapter: @chapter, current_content: @content, support: @supports  %>
<% end %>

<!-- TODO : voir si on garde, discussion avec INOX -->
<% if false %>

  <% if @content.present? %>
    <div class="row">
      <div class="col-md-12">
        <div class="right">

          <% @support_categories.each do |support_category| %>
            <a class="btn" href="<%= chapter_content_path(@chapter,@content, :support_category => support_category.id) %>">
              <div class="update-nag">
                <div class="update-split"><b><%= support_category.name[0] %></b></div>
                <div class="update-text"><%= support_category.name %></div>
              </div>
            </a>
          <% end %>

        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <% if @content.present? %>
      <div class="col-md-12">
        <h3>Other content tools <%= @support.support_category.name %> <b><%= @content.name %></b></h3>
      </div>
      <% @supports.each do |support| %>
        <div class="col-md-2">
          <a href="<%= chapter_content_support_path(@chapter,@content, support) %>">
            <div class="update-nag support-link <%= 'done' if current_user.achieved?(support.id) %>">
              <div class="update-split"><i class="fa <%= support.support_type.icon %>"></i></div>
              <div class="update-text"><%= support.support_type.name %></div>
            </div>
          </a>
        </div>
      <% end %>
    <% else %>
      <div class="col-md-12">
        <h3>Other chapter tools <b><%= @chapter.name %></b></h3>
      </div>
      <% @chapter.supports.each do |support| %>
        <div class="col-md-2">
          <a href="<%= chapter_support_path(@chapter, support) %>">
            <div class="update-nag support-link <%= 'done' if current_user.achieved?(support.id) %>">
              <div class="update-split"><i class="fa <%= support.support_type.icon %>"></i></div>
              <div class="update-text "><b><%= support.support_category.name[0] %></b> <%= support.support_type.name %></div>
            </div>
          </a>
        </div>
      <% end %>
    <% end %>
  </div>
  <br/>
<% end %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <% if @content.present? %>
      <span class="prefix-title"><%= 'LESSON ' + @content.name.upcase %></span>
    <% else %>
      <span class="prefix-title"><%= 'STEP ' + @chapter.number.to_s %></span>
    <% end %>
    <h1><b><%= @support.name.upcase %></b></h1>
  </div>
</div>

<div class="content-ispring">
  <%= render @render %>
</div>
<% if current_user.type == 'Manager'  %>
    <h2>Achievements</h2>
    <%= grid(@achievements_grid) do |g|

      g.row_attributes do |achievement|
        {class: "no-link"}
      end

      g.column name: 'Last name' do |achievement|
        achievement.user.last_name
      end

      g.column name: 'First name' do |achievement|
        achievement.user.first_name
      end

      g.column name: 'Group' do |achievement|
        achievement.user.group.name
      end

      g.column name: 'Date' do |achievement|
        achievement.created_at.strftime("%d.%m.%Y %H:%M ")
      end

      g.column name: 'Score' do |achievement|
        "<div class='progress'>
          <div class='progress-bar progress-bar-striped' role='progressbar' aria-valuenow='#{achievement.score.to_s}' aria-valuemin='0' aria-valuemax='100' style='width: #{achievement.score.to_s}%'>
            <span class='sr-only'>#{achievement.score.to_s }% Complete</span>
            #{achievement.score.to_s }
            </div>
          </div>".html_safe
      end

    end
  -%>
<% end %>