/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: "Lato";
  font-weight: 400;
  color: #333333;
  text-align: justify;
  background-color: #21577a;
  padding-top: 50px;
  font-family: 'Raleway', sans-serif;
}

header {
  margin-bottom: 20px;
  color: white;

  a, a:hover {
    color: white;
  }
}

a {
  color: #208fc7;
}

a:hover {
  text-decoration: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #CCC;
  margin-bottom: 35px;
  padding: 0;
}

.prefix-title {
  font-size: 14pt;
  font-weight: bold;
  margin-top: 40px;
  display: block;
}

h1 {
  color: #136087;
  margin-top: 0px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

h2 {
  color: #136087;
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 15pt;
  border-bottom: 1px solid #136087;
  padding-bottom: 3px;
}

iframe {
  border: none;
}

.right {
  float: right;
}

.right-button {
  float: right;
  margin-top: 30px;
}

.blue {
  color: #136087;
}

.main-content {

  .container {
    background-color: #92bed9;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(13, 54, 79, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(13, 54, 79, 0.75);
    box-shadow: 0px 0px 5px 1px rgba(13, 54, 79, 0.75);
  }
}

.navbar-brand {
  height: 100%;
  padding: 0;
  margin-bottom: 10px;
}

.navbar-default {
  background-color: transparent;
  border: 0;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  display: inline;
}

.navbar-default .navbar-nav > li {
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .navbar-default .navbar-nav > li {
    margin-bottom: 15px;
  }

}

@media (max-width: 980px) {
  .container {
    width: 100%;
  }

}

.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}

.padding-content {
  padding: 25px;
}

.content-wrapper {
  background-color: #FFF;
  padding: 25px;
  padding-bottom: 50px;
}

.chapter-nav {
  ul {
    padding-left: 0;
    list-style-type: none;
    text-align: left;

    li.chapter_coming_soon {
      padding: 7px 35px;
    }
  }
  a {
    color: #333333;
  }
  nav {
    margin-bottom: 0;
    .navbar-collapse {
      padding:0;
    }
    div
    > ul {
      > li {
        > a, span {
          padding: 7px 35px;
          display: block;
          text-transform: uppercase;
        }
        span {
          font-size: 12pt;
          color: #136087;
          padding-left: 45px;
        }
        background-color: darken(#cbe0ed, 15%);
        font-weight: bold;
        font-size: 20px;
        > ul {
          list-style-type: none;
          > li {
            border-top: 1px solid #9d9d9d;
            > a, span {
              padding: 10px 35px;
              display: block;
            }
            ol, ul {
              margin-left: 30px;
              padding: 0px 0px 20px 40px;
              font-size: 18px;
              font-weight: normal;
              a, span {
                padding: 3px 0px;
                display: block;
                i {
                  margin-right: 20px;
                }
              }
              .selected {
                font-weight: bold;
              }
            }

          }
        }
      }
      > li.selected {
        background-color: #cbe0ed;
        > a {
          padding: 17px 35px;
        }
      }
    }
  }

}

.nav-mobile-lessons {
  padding: 15px;
  font-size: 16pt;
}

.padding-box {
  margin: 15px 0px;
}

.support_badge {
  position: relative;
}

.support_badge[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: -13px;
  right: 0px;
  font-weight: bold;
  font-size: 0.9em;
  background: #ffffff;
  color: #208fc7;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #208fc7;
  border-radius: 50%;
}

.support_badge[data-badge].not_done:after {
  content: "\f111";
  font-family: FontAwesome;
}

.support_badge[data-badge].in-progress:after {
  border-color: #fdab1b;
  color: #fdab1b;
}

.support_badge[data-badge].done:after {
  border-color: #5cb85c;
  color: #5cb85c;
}

.col-md-3, .col-md-6 {
  .image-content {
    height: 150px;
  }
}

.padding-box-support {
  padding: 30px;
}

.box-hover-support > h2 {
  margin-top: 20px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.no-margin-top {
  margin-top: 0px;
}

.text-right {
  text-align: right;
}

#logo {
  width: 40%;
  img {
    width: 240px;
  }
}

small {
  opacity: 0.7;
}

h3 small {
  color: #fff;
}

.nopadding {
  padding: 0;
}

/*login page*/

.form-signin {
  margin: auto;
  max-width: 490px;
  .form-signin-heading {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
    font-size: 14pt;
  }
  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:focus {
      z-index: 2;
    }
  }
  input {
    &[type="text"], &[type="password"], &[type="email"] {
      margin-bottom: 15px;
      -webkit-border-radius: 5px;
      border: 1px solid #eaeaea;
      box-shadow: none;
      font-size: 14px;
    }
  }
  .btn-login {
    background: #208fc7;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-radius: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover {
      background-color: #335364;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
  }
  p {
    text-align: center;
    color: #b6b6b6;
    font-size: 16px;
    font-weight: 300;
  }
}

.login-wrap {
  padding: 40px;
  background-color: #fff;
}

.demo-account {
  border-top: 1px dashed #208fc7;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f7f7f7;
}

.demo-account a:hover {
  cursor: pointer;
}

.registration {
  border-top: 1px dashed #208fc7;
  padding-top: 20px;
  font-size: 14px;
}

.alert-session-devise {
  color: #d80f0f;
  margin-bottom: 20px;
  text-align: center;
  font-size: 14pt;
}

/** MENU **/
.nav-tabs li.active a, .nav-tabs li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: transparent;
  color: white;
}

.nav-tabs li a:hover {

}

.nav-tabs li a {
  border-radius: 0px;
  color: white;
  font-weight: bold;
}

.left-nav-supports {
  padding-left: 20px !important;
}

/** BREADCRUMB **/

#breadcrumb {
  width: 100%;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f7f7f7;
  color: #333;
  font-weight: 400;
  > .selected {
    font-weight: bold;
    color: #3D6AA2;
  }
}

/** FOOTER **/

footer {
  color: white;
  padding: 15px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;

  .row {
    padding: 10px;
  }
}

.separator-contact-footer {
  color: #3497c4;
  margin-left: 20px;
  margin-right: 20px;
}

/** CONTENT **/

.row-no-gutter {
  margin-right: 0;
  margin-left: 0;
  [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.box-hover, .coming_soon {
  background-color: rgba(53, 81, 100, 0.8);
  color: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  cursor: pointer;
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
}

.coming_soon {
  opacity: 1;
  cursor: default;
}

.box-hover-support {
  background-color: rgba(53, 81, 100, 0.8);
  width: 100%;
  position: absolute;
  top: 0px;
  cursor: pointer;
  text-align: center;
  padding-top: 100px;
  font-weight: bold;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  height: 150px;
  padding-top: 55px;
  color: #FFFFFF;
}

.image-content {
  overflow: hidden;
  color: #208fc7;
  background-color: #f7f7f7;

  &:hover, &.hover, &.selected {
    .box-hover, .box-hover-support {
      opacity: 1;
    }
  }
  &.selected {
    .fa-shopping-cart {
      display: none;
    }
    .fa-check {
      display: inline;
    }
  }
  &.support-item {
    border: 0px;
    border-bottom: 3px solid #208fc7;
  }
  &.support-item.done {
    background-color: rgba(92, 184, 92, 0.2);
    border-bottom: 3px solid #5cb85c;
    color: #5cb85c;
  }
  &.support-item.in-progress {
    background-color: rgba(253, 171, 27, 0.2);
    border-bottom: 3px solid #fdab1b;
    color: #fdab1b;
  }
}

.box {
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(207, 207, 207, 1);
  -moz-box-shadow: 0px 1px 4px 0px rgba(207, 207, 207, 1);
  box-shadow: 0px 1px 4px 0px rgba(207, 207, 207, 1);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  .progress {
    position: relative;
    bottom: 35px;
    margin: 0px 15px;
  }
}

.support {
  &:not(.disable):hover {
    background: #208fc7;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    > {
      h1, i {
        color: #fff;
      }
    }
  }
  &.done {
    border-bottom: 4px solid #5cb85c;
    background-color: rgba(92, 184, 92, 0.2);
    color: #5cb85c;
  }
  &.done:hover {
    border-bottom: 4px solid darken(#5cb85c, 15%);
    background-color: rgba(92, 184, 92, 0.2);
    color: darken(#5cb85c, 15%);
  }
  padding: 10px 0px;
  text-align: center;
  background-color: #f7f7f7;
  border: 1px solid #eee;
  border-bottom: 4px solid #ddd;
  h1 {
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 10px;
  }
}

.support-name {
  padding: 10px 0px;
  text-align: center;
  background-color: #f7f7f7;
  border: 1px solid #eee;
  border-bottom: 4px solid #ddd;
}

.support-cat {
  text-align: center;
  margin-top: 28px;
  .text-cat {
    font-size: 15pt;
    display: block;
    margin-top: 20px;
  }

  .title {
    font-size: 24pt;
    margin-top: 45px;
    color: #208fc7;
  }
}

.support-name h1 {
  font-size: 10px;
  text-transform: uppercase;
  margin-top: 10px;
}

/* BADGE MENU */

.update-nag {
  display: inline-block;
  text-align: left;
  background-color: #f7f7f7;
  height: 40px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  min-width: 120px;
  border: 0px;
  &.support-link {
    border-bottom: 3px solid #208fc7;
    &:hover {
      border-bottom: 3px solid #335364;
    }
  }
  &:hover {
    background-color: #dedede;
  }
  > .update-split {
    background: #208fc7;
    width: 36px;
    padding-top: 10px;
    float: left;
    color: #fff !important;
    height: 100%;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &:hover {
      background: #335364;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      cursor: pointer;
    }
  }
  &:hover > .update-split {
    background: #335364;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  > .update-text {
    line-height: 19px;
    padding-top: 11px;
    padding-left: 45px;
    padding-right: 20px;
  }
  &.done:hover {
    border-bottom: 4px solid darken(#5cb85c, 15%);
    .update-split {
      background: darken(#5cb85c, 15%);
    }
  }
  &.done {
    border-bottom: 4px solid #5cb85c;
    background-color: rgba(92, 184, 92, 0.2);
    color: #5cb85c;
    .update-split {
      background: #5cb85c;
    }

  }
}

/* ACCESS CHOOSE */

.access-nag {
  display: inline-block;
  text-align: left;
  background-color: #fff;
  height: 40px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  min-width: 120px;
  > {
    .access-split {
      background: #208fc7;
      width: 36px;
      padding-top: 10px;
      float: left;
      color: #fff !important;
      height: 100%;
      text-align: center;
    }
    .access-text {
      line-height: 19px;
      padding-top: 11px;
      padding-left: 45px;
      padding-right: 20px;
    }
  }
}

/* Table */

thead {
  background-color: #208fc7;
  color: white;

  tr {
    border-bottom: 3px solid #21577a;

    th {
      border-right: 1px solid #68b8e1;
    }
    th:last-child {
      border-right: none;
    }
  }
}

.wice-grid > tbody tr:hover {
  cursor: pointer;
}

.thumbnail-table {
  width: 100px;
  height: 100px;
}

.no-link {
  cursor: default !important;
}

/* CHECK BOX */

.checkbox label:after, .radio label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
  border-radius: 50%;
}

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
  margin-left: 0.04em;
}

.checkbox label input[type="checkbox"], .radio label input[type="radio"] {
  display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon, .radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon, .radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr, .radio label input[type="radio"]:disabled + .cr {
  opacity: .5;
}

/* Chapter tools for group */
.chapter-tools {
  font-size: 13px;
  font-style: italic;
}

/* ELEMENT */

.user-fa {
  margin-bottom: 10px;
  margin-right: 10px;
  color: #215c7a;
}

.full_account, .txt_red {
  color: #a94442;
}

.txt_green {
  color: #2ea028;
}

/* FORM et BUTTON */

.btn {
  border-radius: 0px;
  border: none;
}

.btn-primary {
  background-color: #208fc7;
}

.btn-primary:hover {
  background-color: #335364;
}

.btn-big-primary {
  width: 100%;
  background-color: #208fc7;
  font-size: 15pt;
  color: white;
  padding: 10px 12px;
  i {
    margin-right: 10px;
    font-size: 16pt;
    line-height: 21pt;
  }
}

.btn-big-primary:hover {
  color: white;
  background-color: #2a6496;
}

label.required:after {
  content: " *";
  color: #a94442;
}

/* Supports */

.support_video {
  width: 100%;
}

.content-ispring {
  margin-top: 50px;
  text-align: center;
}

/******** PROGRESSBAR ************/
.progress {
  background-color: #fff;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .5);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .5);
  .progress-bar {
    font-weight: bold;
  }
}

/******** FLASH MESSAGE ************/
.flash-message {
  background-color: pink;
  border: 1px solid deeppink;
  color: white;
  position: absolute;
  right: 10px;
  padding: 35px;
  z-index: 2000;
  font-size: 12pt;
  top: 20px;
  box-shadow: 0px 0px 5px 1px rgba(13, 54, 79, 0.75);
  .title-flash {
    font-weight: bold;
  }
  .close {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 19pt;
  }
  &.success {
    background-color: #5cb85c;
    border: 1px solid #5cb85c;
  }

  &.notice {
    background-color: #208fc7;
    border: 1px solid #208fc7;
  }

  &.alert, &.error {
    background-color: #a94442;
    border: 1px solid #a94442;
  }
}

// Achievements
.support_achieved {
  margin-bottom: 5px;
}

.support_test_achieved {
  border-top: 1px solid #a9a9a9;
  margin-top: 10px;
  padding-top: 10px;
}

.panel-group {
  margin-left:15px;
  margin-right:15px;
}

.panel-campus {
  background-color:#fff;
  border: 1px solid #ddd;

  .panel-heading:hover {
    background-color:#ddd;
  }
}

.btn-test {
  min-width: 90px;
  margin:10px;
}

.panel-body {
  text-align: left;
}

.accordion-toggle > .panel-title {
  color: #000;
  opacity: 0.7;
}


// PANEL
.panel.with-nav-tabs .panel-heading{
  padding: 5px 5px 0 5px;
  background-color:transparent;
  border:none;
}
.panel.with-nav-tabs .nav-tabs{
  border: none;
}
.panel.with-nav-tabs .nav-justified{
  margin-bottom: -1px;
}



/********************************************************************/
/*** PANEL DEFAULT ***/
.panel-default {
  border:none;
}

.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #777;
  border:none;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #555;
  background-color: #fff;
}