.item-shop{
  .info{
    padding: 15px 30px 0px 15px;
    span{
      display: block;
    }
    h5{
      color: #2a6496;
      font-weight: bold;
    }
  }
  .image-content{
    padding:0px;
  }
  .box-hover{
    padding-top: 40px;
  }
  .fa-check{
    display: none;
  }
}