// Result table in Student view

.popover{
  width: 250px;
  color: #333333;
}

.achievement-table{
  border:0px;
  tbody tr{
    border:1px solid #ddd;
    td{
      vertical-align: middle !important;
      border:0px !important;
      .progress{
        margin-bottom: 0px;
      }
    }
  }
  .chapter_row{
    background-color: #cbe0ed;
    color: #333;
    cursor: pointer;
  }
  tr.content_row{
    border:0px !important;
    > td{ padding:0px 0px 0px 30px; }
    table { background-color: lighter(#cbe0ed, 10%); }
  }
}