<h1>List of Contents</h1>

<a href="<%= new_content_path %>" class="btn btn-primary"><i class="fa fa-plus"></i> add content</a>
<br/><br/>

<%= grid(@contents_grid) do |g|


  g.row_attributes do |content|
    {href: content_path(content)}
  end

  g.blank_slate  do
	content_tag :div, "No content", class: 'well'
  end

  g.column name: 'ID' do |content|
    content.id
  end

  g.column name: 'thumbnail' do |content|
    image_tag content.thumbnail, class: "thumbnail-table"
  end

  g.column name: 'Name' do |content|
    content.name
  end

  g.column name: 'Content Type' do |content|
    content.content_type.name
  end

end -%>