<h1>Add Content</h1>

<%= form_for [@chapter,@content], html: {multipart: true, class: "form-horizontal"} do |f| %>

	<div class="form-group">
	    <div class="col-sm-2 text-right">
	    	<%= f.label :name, class: "control-label required" %>
	    </div>
	    <div class="col-sm-6">
	        <%= f.text_field :name, class: "form-control" %>
	        <span class="txtError"><%= @content.errors.get(:name).first %></span>
	    </div>
	</div>
	<div class="form-group">
	    <div class="col-sm-2 text-right">
	    	<%= f.label :content_type, class: "control-label" %>
	    </div>
	    <div class="col-sm-6">
	        <%= f.collection_select :content_type_id, @content_types, :id, :name, {}, class: "form-control" %>
	    </div>
	</div>
    
    <div class="form-group">
	    <div class="col-sm-2 text-right">
	    	<%= f.label :thumbnail, class: "control-label" %>
	    </div>
	    <div class="col-sm-6">
	        <%= f.file_field :thumbnail %>
	    </div>
    </div>

	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-6">
	      <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add</button>
	    </div>
	  </div>

<% end %>

