<h1><%= @content.name %> <small><%= @content.content_type.name %></small></h1>

<a href="<%= edit_chapter_content_path(@chapter,@content) %>" class="btn btn-primary"><i class="fa fa-pencil"></i> edit content</a>
<br/>

<h2>Thumbnail</h2>

<div class="row">
  <div class="col-md-3">
    <%= image_tag @content.thumbnail, class: "img-responsive" %>
  </div>
</div>

<h2>List of support</h2>

<a href="<%= new_content_support_path(@content) %>" class="btn btn-primary"><i class="fa fa-plus"></i> add support</a> 
<br/><br/>

<% SupportCategory.all.each do |sc|  %>
  <h3><%= sc.name %></h3>

  <table class="table-hover table-striped table">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Support Type</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="tr-clickable sortable-support" data-link="<%= change_order_support_url %>">
      <% @content.supports.where(support_category: sc).each do |support| %>
        <tr data-id="<%= support.id %>" href="<%= content_support_path(@content,support) %>">
          <td class="sort-btn"><i class="glyphicon glyphicon-sort"></i></td>
          <td><%= support.name %></td>
          <td><%= ("<i class='fa " + support.support_type.icon + "'></i> ").html_safe + support.support_type.name %></td>
          <td><%= link_to("Delete", content_support_path(support.supportable_id,support.id), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-primary') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>