<table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%;border-collapse:collapse">
  <tbody>
  <tr>
    <td valign="top" style="background:#208fc7;padding:15.0pt 15.0pt 15.0pt 15.0pt">
      <div>
        <div align="center">
          <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="660" style="width:495.0pt">
            <tbody>
            <tr>
              <td style="padding:0cm 0cm 0cm 0cm">
                <div align="center">
                  <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="660" style="width:495.0pt">
                    <tbody>
                    <tr>
                      <td style="padding:0cm 0cm 0cm 0cm">
                        <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
                          <tbody>
                          <tr>
                            <td valign="top" style="padding:0cm 0cm 0cm 0cm">
                              <div align="center">
                                <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="660" style="width:495.0pt">
                                  <tbody>
                                  <tr>
                                    <td valign="top" style="padding:0cm 0cm 0cm 0cm">
                                      <div>
                                        <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
                                          <tbody>
                                          <tr>
                                            <td style="padding:7.5pt 7.5pt 7.5pt 7.5pt">
                                              <p align="center" style="margin:0cm;margin-bottom:.0001pt;text-align:center;line-height:150%">
                                              </p></td>
                                          </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding:0cm 0cm 0cm 0cm">
                        <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="660" style="width:495.0pt;background:white;border-spacing:0!important">
                          <tbody>
                          <tr>
                            <td valign="top" style="padding:0cm 0cm 0cm 0cm;border-spacing:0!important">
                              <div align="center">
                                <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="660" style="width:495.0pt">
                                  <tbody>
                                  <tr>
                                    <td valign="top" style="padding:0cm 0cm 0cm 0cm;border-spacing:0!important">
                                      <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
                                        <tbody>
                                        <tr style="white-space:-moz-pre-wrap">
                                          <td style="padding:30.0pt 7.5pt 30.0pt 7.5pt;font-weight:inherit">
                                            <p class="MsoNormal" align="center" style="text-align:center;line-height:150%">
                                              <span style="font-size:10.5pt;line-height:150%;font-family:&quot;Arial&quot;,sans-serif;color:#505050"><span style="color:#208fc7;text-decoration:none"><img border="0" width="249" style="width:2.5916in" id="m_5818318058708706118_x0000_i1025" src="https://ci4.googleusercontent.com/proxy/hg6MlzwPKhbpiILj567zV4Bj1vXQTh-1i6UfWVNTkRd4PrxE8cRreKxmWXRatWxIEsjj0i1VqUg38XDSLpM9SIGcxyAhRr2VMoRpBBdawiql3jgNqOGSOVoflCTp4qh_AK_wfAPmXovL=s0-d-e1-ft#https://storage-master.infomaniak.ch/newsletter/images/2017-10-01/59d0a8b5c2126.jpg" class="CToWUd"></span><u></u><u></u></span>
                                            </p></td>
                                        </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding:0cm 0cm 0cm 0cm">
                        <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="660" style="width:495.0pt;background:white;border-spacing:0!important">
                          <tbody>
                          <tr>
                            <td valign="top" style="padding:0cm 0cm 0cm 0cm;border-spacing:0!important">
                              <div align="center">
                                <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="660" style="width:495.0pt">
                                  <tbody>
                                  <tr>
                                    <td valign="top" style="padding:0cm 0cm 0cm 0cm;border-spacing:0!important">
                                      <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
                                        <tbody>
                                        <tr style="white-space:-moz-pre-wrap">
                                          <td style="padding:0cm 0cm 0cm 0cm;font-weight:inherit">
                                            <p class="MsoNormal" style="line-height:150%">
                                              <span style="font-size:10.5pt;line-height:150%;font-family:&quot;Arial&quot;,sans-serif;color:#505050"><img border="0" width="660" style="width:6.875in" id="m_5818318058708706118_x0000_i1026" src="https://ci3.googleusercontent.com/proxy/NBAhBPjwi_hp9tEEnnujt55PwwnxMHu-nnG4tTF86Sr29gzjtMO54vu-cQEqBMEbTvV19kiA3oC0xsW2j8fw7XW9urBo9v7pKi9HE_a8Q0aJjay_MYD-uvuDVL_pMY7m8V7DG9NvffIh=s0-d-e1-ft#https://storage-master.infomaniak.ch/newsletter/images/2018-01-02/5a4bb7ed6d0c1.jpg" class="CToWUd"></span><u></u><u></u></span>
                                            </p></td>
                                        </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding:0cm 0cm 0cm 0cm">
                        <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="660" style="width:495.0pt;background:white;border-spacing:0!important">
                          <tbody>
                          <tr>
                            <td valign="top" style="padding:0cm 0cm 0cm 0cm;border-spacing:0!important">
                              <div align="center">
                                <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="660" style="width:495.0pt">
                                  <tbody>
                                  <tr>
                                    <td valign="top" style="padding:0cm 0cm 0cm 0cm;border-spacing:0!important">
                                      <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
                                        <tbody>
                                        <tr style="white-space:-moz-pre-wrap">
                                          <td style="padding:7.5pt 22.5pt 7.5pt 22.5pt">
                                            <p align="center" style="margin-right:0cm;margin-bottom:7.5pt;margin-left:0cm;text-align:center;line-height:150%">
                                              <span style="font-size:10.5pt;line-height:150%;font-family:&quot;Arial&quot;,sans-serif;color:#505050">&nbsp;<u></u><u></u></span>
                                            </p>
                                            <p align="center" style="margin-right:0cm;margin-bottom:7.5pt;margin-left:0cm;text-align:center;line-height:150%">
                                              <strong><span style="font-size:19.5pt;line-height:150%;font-family:&quot;Arial&quot;,sans-serif;color:#208fc7">Welcome to our campus!</span></strong><span style="font-size:10.5pt;line-height:150%;font-family:&quot;Arial&quot;,sans-serif;color:#505050"><u></u><u></u></span>
                                            </p>
                                            <p align="center" style="margin-right:0cm;margin-bottom:7.5pt;margin-left:0cm;text-align:center;line-height:150%">
                                              <span style="font-size:10.5pt;line-height:150%;font-family:&quot;Arial&quot;,sans-serif;color:#505050">Thank you for signing up to our 15-day free trial!<u></u><u></u></span>
                                            </p>
                                            <p align="center" style="margin-right:0cm;margin-bottom:7.5pt;margin-left:0cm;text-align:center;line-height:150%">
                                              <span style="font-size:10.5pt;line-height:150%;font-family:&quot;Arial&quot;,sans-serif;color:#505050">We are delighted that you have decided to&nbsp;try English in context’s CAMPUS.<u></u><u></u></span>
                                            </p>
                                            <p align="center" style="margin-right:0cm;margin-bottom:7.5pt;margin-left:0cm;text-align:center;line-height:150%">
                                              <span style="font-size:10.5pt;line-height:150%;font-family:&quot;Arial&quot;,sans-serif;color:#505050">Your feedback&nbsp;is extremely important so please do not hesitate to contact us.&nbsp;<u></u><u></u></span>
                                            </p>
                                            <p align="center" style="margin-right:0cm;margin-bottom:7.5pt;margin-left:0cm;text-align:center;line-height:150%">
                                              <span style="font-size:10.5pt;line-height:150%;font-family:&quot;Arial&quot;,sans-serif;color:#505050">Reply to this email and one of our team will get back to you.&nbsp;<u></u><u></u></span>
                                            </p></td>
                                        </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding:0cm 0cm 0cm 0cm">
                        <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="660" style="width:495.0pt;background:white;border-spacing:0!important">
                          <tbody>
                          <tr>
                            <td valign="top" style="padding:0cm 0cm 0cm 0cm;border-spacing:0!important">
                              <div align="center">
                                <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="660" style="width:495.0pt">
                                  <tbody>
                                  <tr>
                                    <td valign="top" style="padding:0cm 0cm 0cm 0cm;border-spacing:0!important">
                                      <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
                                        <tbody>
                                        <tr style="white-space:-moz-pre-wrap">
                                          <td style="padding:7.5pt 7.5pt 7.5pt 7.5pt;border-spacing:0!important">
                                            <div align="center">
                                              <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
                                                <tbody>
                                                <tr>
                                                  <td style="padding:0cm 0cm 0cm 0cm;display:inline-block;border-radius:3px;font-weight:inherit">
                                                    <p class="MsoNormal" align="center" style="text-align:center">
                                                      <a href="<%= confirmation_url(@resource, confirmation_token: @token) %>" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=fr&amp;q=https://englishincontext.statslive.info/c/330725393/eyJpdiI6IlAxTUMwRFp6b2NZZFVlRlFjUURIZWpFVXJzTkVOUFZxbWVIeGdwRFRjdWM9IiwidmFsdWUiOiJPQytxcDgwVkxadlFcL0w3NWtoNjVDNFlURHlqUXBPeE5cL0JidlQ1UHEyTGhVam9LbjBQak9oa1ZSQlNXcTBcL0MrTXNjRW5uUjFvbU14OGxKVzAwUEZ5dz09IiwibWFjIjoiZTAwMDA1YWFlNzBlYjIxNWE1YTQ3NWQxODM1MzljMTY1NDFiYTU1NGI3Zjc4Mzg3NTAxZGQ1MGVhNzI4ZDBjYSJ9&amp;source=gmail&amp;ust=1516973082806000&amp;usg=AFQjCNHVk7hV2oHSFpefjeCM9Vlbv3xSGA"><span style="font-size:10.5pt;font-family:&quot;Arial&quot;,sans-serif;color:white;text-transform:uppercase;border:solid #208fc7 6.0pt;padding:0cm;background:#208fc7;text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp;Confirm your email address and start learning today&nbsp;&nbsp;&nbsp;&nbsp;</span></a><u></u><u></u>
                                                    </p></td>
                                                </tr>
                                                </tbody>
                                              </table>
                                            </div>
                                          </td>
                                        </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding:0cm 0cm 0cm 0cm">
                        <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="660" style="width:495.0pt;background:white;border-spacing:0!important">
                          <tbody>
                          <tr>
                            <td valign="top" style="background:#208fc7;padding:0cm 0cm 0cm 0cm;border-spacing:0!important">
                              <div align="center">
                                <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="660" style="width:495.0pt">
                                  <tbody>
                                  <tr>
                                    <td valign="top" style="padding:0cm 0cm 0cm 0cm;border-spacing:0!important">
                                      <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
                                        <tbody>
                                        <tr style="white-space:-moz-pre-wrap">
                                          <td style="padding:0cm 0cm 0cm 0cm">
                                            <p class="MsoNormal" style="line-height:150%">
                                              <span style="font-size:10.5pt;line-height:150%;font-family:&quot;Arial&quot;,sans-serif;color:#505050"><img border="0" id="m_5818318058708706118_x0000_i1027" src="https://ci6.googleusercontent.com/proxy/MFECMV8_E0ab3QywZ5vGhfhRQ17mSIDbNwP973k8-JUstF28QTPXclrpjWAgK7q7bxROwpcdhSayNPDS5stTtdUkMMs6mg=s0-d-e1-ft#https://static.infomaniak.ch/docs/mailings/z.png" class="CToWUd"><u></u><u></u></span>
                                            </p></td>
                                        </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding:0cm 0cm 0cm 0cm">
                        <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="660" style="width:495.0pt;background:white;border-spacing:0!important">
                          <tbody>
                          <tr>
                            <td valign="top" style="background:#208fc7;padding:0cm 0cm 0cm 0cm;border-spacing:0!important">
                              <div align="center">
                                <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="660" style="width:495.0pt">
                                  <tbody>
                                  <tr>
                                    <td valign="top" style="padding:0cm 0cm 0cm 0cm;border-spacing:0!important">
                                      <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
                                        <tbody>
                                        <tr style="white-space:-moz-pre-wrap">
                                          <td style="padding:0cm 0cm 0cm 0cm;font-weight:inherit">
                                            <p class="MsoNormal" style="line-height:150%">
                                              <span style="font-size:10.5pt;line-height:150%;font-family:&quot;Arial&quot;,sans-serif;color:#505050"><span style="color:#208fc7;text-decoration:none"><img src="https://storage-master.infomaniak.ch/newsletter/images/2018-02-05/5a783cd429968.jpg" alt="6 months for only $29.90" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -ms-interpolation-mode: bicubic; height: auto !important; max-width: 100%; vertical-align: bottom; width: auto;" width="660"><u></u><u></u></span>
                                            </p></td>
                                        </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td width="100%" valign="top" style="width:100.0%;padding:0cm 0cm 0cm 0cm">
                        <div align="center">
                          <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="660" style="width:495.0pt;border-spacing:0!important">
                            <tbody>
                            <tr>
                              <td width="660" valign="top" style="width:495.0pt;padding:0cm 0cm 0cm 0cm;border-spacing:0!important">
                                <div align="center">
                                  <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="660" style="width:495.0pt;background:white">
                                    <tbody>
                                    <tr>
                                      <td valign="top" style="padding:0cm 0cm 0cm 0cm;border-spacing:0!important">
                                        <div align="center">
                                          <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="660" style="width:495.0pt">
                                            <tbody>
                                            <tr style="white-space:-moz-pre-wrap">
                                              <td width="330" valign="top" style="width:247.5pt;padding:0cm 0cm 0cm 0cm">
                                                <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
                                                  <tbody>
                                                  <tr>
                                                    <td style="padding:0cm 0cm 0cm 0cm"></td>
                                                  </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                              <td width="330" valign="top" style="width:247.5pt;padding:0cm 0cm 0cm 0cm;white-space:-moz-pre-wrap">
                                                <div>
                                                  <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
                                                    <tbody>
                                                    <tr>
                                                      <td style="padding:0cm 0cm 0cm 0cm">
                                                        <div>
                                                          <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                            <tr>
                                                              <td width="40" style="width:30.0pt;padding:0cm 0cm 0cm 0cm">
                                                                <div style="margin-left:5.25pt;margin-top:2.25pt;margin-right:5.25pt;margin-bottom:2.25pt;display:inline-block">
                                                                  <p class="MsoNormal">
                                                                    <a href="https://englishincontext.statslive.info/c/330725395/eyJpdiI6Im16ZWFndkFQVkViRnhFNFRwWVdxM3ExZUFQRVd5V2JMeXU1Z1l3TDI3ZGc9IiwidmFsdWUiOiJacGlPSW9oOWFmU0pGZFNVVzBOaTJ3b0hBc1VvVlorUVBMdm0yenZ1ZjUrb3VzSHRNWHBldVowM0YzeExENDdrN2laR3Z6aFluYnowUXRrOFA1RXZOUT09IiwibWFjIjoiMzMwODg0ZmNjZDkyZWFkM2ViN2MwNjQ0Y2Y5Mjc5Zjk5NWFhYmNiZGNkNmM3NDUxNzI4ZWZjMTFhMmQ1MGIzMyJ9" title="Facebook" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=fr&amp;q=https://englishincontext.statslive.info/c/330725395/eyJpdiI6Im16ZWFndkFQVkViRnhFNFRwWVdxM3ExZUFQRVd5V2JMeXU1Z1l3TDI3ZGc9IiwidmFsdWUiOiJacGlPSW9oOWFmU0pGZFNVVzBOaTJ3b0hBc1VvVlorUVBMdm0yenZ1ZjUrb3VzSHRNWHBldVowM0YzeExENDdrN2laR3Z6aFluYnowUXRrOFA1RXZOUT09IiwibWFjIjoiMzMwODg0ZmNjZDkyZWFkM2ViN2MwNjQ0Y2Y5Mjc5Zjk5NWFhYmNiZGNkNmM3NDUxNzI4ZWZjMTFhMmQ1MGIzMyJ9&amp;source=gmail&amp;ust=1516973082806000&amp;usg=AFQjCNH5SSpqFOBPh4dsQvMpaMf1ECzNLg"><span style="color:#208fc7;text-decoration:none"><img border="0" width="32" height="32" style="width:.3333in;height:.3333in" id="m_5818318058708706118_x0000_i1030" src="https://ci5.googleusercontent.com/proxy/2m4EEmq7yitqyM_7vpfJH8Ju6bNptwD3HunwoG8g6Zhqjb66q2K7iQlYQJfObc_ZNWjeDiUOKn8grfr0F-SXqKcfMW162tKgnaGeSrc78zQXR2OiYO8=s0-d-e1-ft#https://static.infomaniak.ch/docs/mailings/designer/facebook.png" alt="Facebook" class="CToWUd"></span></a><u></u><u></u>
                                                                  </p></div>
                                                              </td>
                                                              <td width="40" style="width:30.0pt;padding:0cm 0cm 0cm 0cm">
                                                                <div style="margin-left:5.25pt;margin-top:2.25pt;margin-right:5.25pt;margin-bottom:2.25pt;display:inline-block">
                                                                  <p class="MsoNormal">
                                                                    <a href="https://englishincontext.statslive.info/c/330725396/eyJpdiI6IkQxSktpR1ZwU05oSHQ5UTIzWkxZbk9BMzVDdUg1TDdrdDBocWxUOEZVUTA9IiwidmFsdWUiOiJtc0NZdVNuSkxTMHBISlJcLzBWdlc5Kzh2UlF0blRMd2NxS0szNmNTcmlVV1wvRjY5Q0ROcjJzT3BIcExSV3RYK3NxMm9yakZuTEJPT2pPaWdXWU1VOVVRPT0iLCJtYWMiOiI3OGUyNzc5NjQyNzQxZmUzZGI1YTdjYTkzZmE4ODQzZThiYWZkMzljNzQ0ZGM2ZDIwNmU0N2IxNzU3YzljZGI0In0=" title="Twitter" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=fr&amp;q=https://englishincontext.statslive.info/c/330725396/eyJpdiI6IkQxSktpR1ZwU05oSHQ5UTIzWkxZbk9BMzVDdUg1TDdrdDBocWxUOEZVUTA9IiwidmFsdWUiOiJtc0NZdVNuSkxTMHBISlJcLzBWdlc5Kzh2UlF0blRMd2NxS0szNmNTcmlVV1wvRjY5Q0ROcjJzT3BIcExSV3RYK3NxMm9yakZuTEJPT2pPaWdXWU1VOVVRPT0iLCJtYWMiOiI3OGUyNzc5NjQyNzQxZmUzZGI1YTdjYTkzZmE4ODQzZThiYWZkMzljNzQ0ZGM2ZDIwNmU0N2IxNzU3YzljZGI0In0%3D&amp;source=gmail&amp;ust=1516973082806000&amp;usg=AFQjCNHL3BgG9kXPrSqocvw3lvIFnbWDWA"><span style="color:#208fc7;text-decoration:none"><img border="0" width="32" height="32" style="width:.3333in;height:.3333in" id="m_5818318058708706118_x0000_i1031" src="https://ci6.googleusercontent.com/proxy/wKhYxBDIxGIXwOP8ATkMuRiKasoHrx2EdVR3JYn4dhEppUKMDHgLvPmLN5TLMV6n50QNFKpjgKuXPUIjDlmnnwlNpjN1xUAP65G0ilAWDims2J1bAA=s0-d-e1-ft#https://static.infomaniak.ch/docs/mailings/designer/twitter.png" alt="Twitter" class="CToWUd"></span></a><u></u><u></u>
                                                                  </p></div>
                                                              </td>
                                                              <td width="40" style="width:30.0pt;padding:0cm 0cm 0cm 0cm">
                                                                <div style="margin-left:5.25pt;margin-top:2.25pt;margin-right:5.25pt;margin-bottom:2.25pt;display:inline-block">
                                                                  <p class="MsoNormal">
                                                                    <a href="https://englishincontext.statslive.info/c/330725397/eyJpdiI6IlhkdUNrRzdLXC9YRjE0eEJNYmJianRDRlwvQkUxUFVDaEJIY1dFR3lRV1B3az0iLCJ2YWx1ZSI6IlJnUlFXMmM1RnVFXC9vYWRFZXVJXC9iT1ZETXVcL283SnNGeXVneFROVHFBVDZzaFRoTEs4Q0U2cW53YkZkcVI4UlZyaXZQbU51WkhvNm52QzNpXC9vZnV6dz09IiwibWFjIjoiOWM4YzRkN2ViZjA3MDcyYzFkMWM5YzFhMWY1ZjMwZTQ1ZWU0NjhlYmIxNGVkOGI3ZjUzMjRmZTM2Y2Y3ZjU5NCJ9" title="Youtube" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=fr&amp;q=https://englishincontext.statslive.info/c/330725397/eyJpdiI6IlhkdUNrRzdLXC9YRjE0eEJNYmJianRDRlwvQkUxUFVDaEJIY1dFR3lRV1B3az0iLCJ2YWx1ZSI6IlJnUlFXMmM1RnVFXC9vYWRFZXVJXC9iT1ZETXVcL283SnNGeXVneFROVHFBVDZzaFRoTEs4Q0U2cW53YkZkcVI4UlZyaXZQbU51WkhvNm52QzNpXC9vZnV6dz09IiwibWFjIjoiOWM4YzRkN2ViZjA3MDcyYzFkMWM5YzFhMWY1ZjMwZTQ1ZWU0NjhlYmIxNGVkOGI3ZjUzMjRmZTM2Y2Y3ZjU5NCJ9&amp;source=gmail&amp;ust=1516973082806000&amp;usg=AFQjCNH5ZrBMu42Y_DIHwSgbONKrQC4oiQ"><span style="color:#208fc7;text-decoration:none"><img border="0" width="32" height="32" style="width:.3333in;height:.3333in" id="m_5818318058708706118_x0000_i1032" src="https://ci3.googleusercontent.com/proxy/-5crfkJtt1EkqQWfjBiJEjqNk6ZsLYuOlgwcrtjo1Qm4t-I8dqIKoCQkSip-8tjGfmIhfGvbUwsJqSocHOdim0fw8Hnsj3RtVFEA7ZqnxOtH4CVyng=s0-d-e1-ft#https://static.infomaniak.ch/docs/mailings/designer/youtube.png" alt="Youtube" class="CToWUd"></span></a><u></u><u></u>
                                                                  </p></div>
                                                              </td>
                                                            </tr>
                                                            </tbody>
                                                          </table>
                                                        </div>
                                                      </td>
                                                    </tr>
                                                    </tbody>
                                                  </table>
                                                </div>
                                              </td>
                                            </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding:0cm 0cm 0cm 0cm">
                        <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%;border-spacing:0!important">
                          <tbody>
                          <tr>
                            <td valign="top" style="padding:0cm 0cm 0cm 0cm;border-spacing:0!important">
                              <div align="center">
                                <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="660" style="width:495.0pt">
                                  <tbody>
                                  <tr>
                                    <td valign="top" style="padding:0cm 0cm 0cm 0cm;border-spacing:0!important">
                                      <table class="m_5818318058708706118MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
                                        <tbody>
                                        <tr>
                                          <td style="padding:7.5pt 7.5pt 7.5pt 7.5pt">
                                            <p class="MsoNormal" align="center" style="text-align:center">
                                              </p>
                                          </td>
                                        </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>