English in context has great pleasure in inviting you to test the beta version of our website.
We welcome any suggestions you may have to improve the site before the official opening mid-June
Click on the link to accept, create your password and browse the options available to you.

<%= accept_invitation_url(@resource, :invitation_token => @token) %>

We will send you an email once a week with work to do – please do the work so that we can test our infrastructure.
See you soon on the site :-)
The English in context team
