<p>Click on this link to activate your account</p>

<p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token) %></p>

<p>Best regards</p>

<img src="https://campus.englishincontext.net/assets/logo_mail.jpg" alt="English in context">

<p>
	Rue du Château 21<br/>
	2000 Neuchâtel<br/>
	+41 32 731 01 65<br/>
	<a href="https://englishincontext.net/">Website</a> |
	<a href="https://www.facebook.com/LearnEnglishapp">Social Media</a>
</p>