<h1>Edit Support</h1>

<%= form_for @support, :url => polymorphic_path([@supportable, @support]), :method => :patch, html: {multipart: true, class: "form-horizontal"} do |f| %>

	<div class="form-group">
	    <div class="col-sm-2 text-right">
	    	<%= f.label :name, class: "control-label" %>
	    </div>
	    <div class="col-sm-6">
	        <%= f.text_field :name, class: "form-control" %>
	        <span class="txtError"><%= @support.errors.get(:name).first %></span>
	    </div>
	</div>
	<div class="form-group">
	    <div class="col-sm-2 text-right">
	    	<%= f.label :support_type, class: "control-label" %>
	    </div>
	    <div class="col-sm-6">
	        <%= f.collection_select :support_type_id, @support_types, :id, :name, {}, class: "form-control" %>
	    </div>
	</div>
	<div class="form-group">
	    <div class="col-sm-2 text-right">
	        <%= f.label :support_category, class: "control-label" %>
	    </div>
	    <div class="col-sm-6">
	        <%= f.collection_select :support_category_id, @support_categories, :id, :name, {}, class: "form-control" %>
	    </div>
	</div>
    <div class="form-group">
      <div class="col-sm-2 text-right">
        <%= f.label :level, class: "control-label" %>
      </div>
      <div class="col-sm-6">
          <label class="radio-inline">
              <%= f.radio_button :level, nil, :checked => true %>
              All levels
          </label>
          <label class="radio-inline">
              <%= f.radio_button :level, '1' %>
              Level 1
          </label>
          <label class="radio-inline">
              <%= f.radio_button :level, '2' %>
              Level 2
          </label>
      </div>
    </div>
    <div class="form-group">
	    <div class="col-sm-2 text-right">
	    	<%= f.label :file, class: "control-label" %>
	    </div>
	    <div class="col-sm-6">
	        <%= f.file_field :file %>
	    </div>
    </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> Modify</button>
    </div>
  </div>

<% end %>
