<div class="col-md-8">
  <h1>Add Support</h1>

  <%= form_for @support, :url => polymorphic_path([@supportable, Support]), :method => :post, html: {multipart: true, class: "form-horizontal"} do |f| %>
      <div class="form-group">
        <div class="col-sm-3 text-right">
          <%= f.label :name, class: "control-label" %>
        </div>
        <div class="col-sm-9">
          <%= f.text_field :name, class: "form-control" %>
          <span class="txtError"><%= @support.errors.get(:name).first %></span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-3 text-right">
          <%= f.label :support_type, class: "control-label" %>
        </div>
        <div class="col-sm-9">
          <%= f.collection_select :support_type_id, @support_types, :id, :name, {}, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-3 text-right">
          <%= f.label :support_category, class: "control-label" %>
        </div>
        <div class="col-sm-9">
          <%= f.collection_select :support_category_id, @support_categories, :id, :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 text-right">
          <%= f.label :level, class: "control-label" %>
        </div>
        <div class="col-sm-6">
          <label class="radio-inline">
            <%= f.radio_button :level, nil, :checked => true %>
            All levels
          </label>
          <label class="radio-inline">
            <%= f.radio_button :level, '1' %>
            Level 1
          </label>
          <label class="radio-inline">
            <%= f.radio_button :level, '2' %>
            Level 2
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-3 text-right">
          <%= f.label :file, class: "control-label" %>
        </div>
        <div class="col-sm-9">
          <%= f.file_field :file %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
          <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add</button>
        </div>
      </div>
  <% end %>
</div>
<div class="col-md-4">
  <h3>ZIP file structure</h3>
  <p>
    You will find below the ZIP structure for each support type
  </p>
  <div class="col-md-12">
    <h4>Simulation, Voc & Quiz</h4>
    <i>ZIP archive as generated by iSpring</i>
  </div>
  <div class="col-md-12">
    <h4>Crossword, Word Search</h4>
    <i>ZIP archive as generated by crossword-compiler</i>
  </div>
  <div class="col-md-12">
    <h4>I Hume You</h4>
    <b><i>archive</i>.zip</b>
    <ul>
      <li>index.html</li>
      <li>Additional directories or files</li>
    </ul>
  </div>
  <div class="col-md-12">
    <h4>Movie</h4>
    <b><i>archive</i>.zip</b>
    <ul>
      <li>movie.mp4</li>
    </ul>
  </div>
  <div class="col-md-12">
    <h4>Sound</h4>
    <b><i>archive</i>.zip</b>
    <ul>
      <li>sound.mp3</li>
    </ul>
  </div>
  <div class="col-md-12">
    <h4>Print</h4>
    <b><i>archive</i>.zip</b>
    <ul>
      <li>file.pdf</li>
    </ul>
  </div>
</div>
</div>


