<h1><%= @support.name %> <small><%= ("<i class='fa " + @support.support_type.icon + "'></i> ").html_safe + @support.support_type.name %></small></h1>

<p>
	<i class="fa fa-signal user-fa"></i>
	<% if @support.level == 0 %>
		All level
	<% else %>
		Level <%= @support.level %>
	<% end %>
</p>

<a href="<%= edit_polymorphic_path([@supportable,@support]) %>" class="btn btn-primary"><i class="fa fa-pencil"></i> edit support</a>
<br/>