<!-- Footer -->
<div class="container">
  <div class="row">
    <!-- Disclaimer -->
    <div class="col-md-12 text-center">
      English in context
      <span class="separator-contact-footer"> |</span>
      Neuchâtel
      <span class="separator-contact-footer">|</span>
      <a href="mailto:info@englishincontext.net">info@englishincontext.net</a>
      <span class="separator-contact-footer">|</span>
      <span class="link-social">
        <a class="grey" target="_blank" href="https://www.facebook.com/LearnEnglishapp/" title="Follow us on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a class="grey" target="_blank" href="https://twitter.com/Englishcontext" title="Follow us on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a class="grey" target="_blank" href="https://www.linkedin.com/company/english-in-context" title="Follow us on LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      </span>
    </div>
  </div>
  <div class="row">
    <!-- Copyright -->
    <div id="copyright" class="col-md-12">
      <p class="text-center">
        Developed by
        <a href="https://www.wavemind.ch">
          <img src="https://www.wavemind.ch/img/logos/wm-footer.svg" style="width:50px;"/> Wavemind Sàrl
        </a>
        &copy; <%= Date.today.year %>
      </p>
    </div>
    <!-- End Copyright -->
  </div>
</div>