<title>English In Context Campus</title>
<!-- META -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- CSS BOOTSRAP, JQUERY UI -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<link href="https://fonts.googleapis.com/css?family=Lato:100,400,700" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700,900" rel="stylesheet">
<%= favicon_link_tag 'favicon.png' %>
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

<!-- Javascript JQUERY, BOOTSTRAP, etc. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112756292-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112756292-1');
</script>

<script type="text/javascript"
		src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
	<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt=""
			 src="//www.googleadservices.com/pagead/conversion/895256232/?label=2V4KCPLhh3QQqI3yqgM&amp;guid=ON&amp;script=0"/>
	</div>
</noscript>

<%= csrf_meta_tags %>