<!DOCTYPE html>
<html>
<head>
	<%= render "layouts/header" %>
</head>
<body>
<!-- Render flash messages-->
<%= render 'layouts/flash' %>
<header>
	<div class="container">
		<div class="row">

			<div class="col-md-12">

				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="<%= root_path %>"><%= image_tag("logo-campus.png", :alt => "Logo English in Context - Campus", :class => "img img-responsive") %></a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">

								<% if current_user.type == 'Student' %>
									<li>
										<i class="fa fa-trophy" aria-hidden="true"></i>
										<a href="<%= achievements_path %>"></i>Achievements</a>
									</li>
								<% end %>

								<% if current_user.type == 'Private' %>
									<li>
										<i class="fa fa-shopping-cart" aria-hidden="true"></i>
										<a href="<%= shop_path %>"></i>Shop</a>
									</li>
									<li>
										<i class="fa fa-trophy" aria-hidden="true"></i>
										<a href="<%= achievements_path %>"></i>Achievements</a>
									</li>
								<% end %>

								<% if current_user.type == 'Administrator' %>
									<li>
										<i class="fa fa-cog" aria-hidden="true"></i>
										<a href="<%= admin_path %>"></i>Admin</a>
									</li>
								<% end %>

								<% if current_user.type == 'Organizer' %>
									<li>
										<i class="fa fa-building-o" aria-hidden="true"></i>
										<a href="<%= organisation_path(current_user.organisation) %>"></i>
											Organisation</a>
									</li>
								<% end %>

								<% if current_user.type == 'Manager' %>
									<li>
										<i class="fa fa-users" aria-hidden="true"></i>
										<a href="<%= groups_path %>"></i>Groups</a>
									</li>
								<% end %>

								<li>
									<i class="fa fa-user" aria-hidden="true"></i>
									<a href="<%= edit_user_registration_path %>"><%= current_user.first_name + " " + current_user.last_name %></a><br/>

									<small><%= current_user.type %>
										account <%= link_to raw('<i class="fa fa-power-off" aria-hidden="true"></i>'), '/users/sign_out', method: :delete %></small>

								</li>

							</ul>
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>
			</div>
		</div>
	</div>

</header>

<div class="container">
	<div class="col-md-9 col-md-offset-3 col-sm-12 col-xs-12">
		<ul class="nav nav-tabs">
			<%= nav_link 'Home', root_path, ['dashboard'] %>
			<% if current_user.active_purchase? && Chapter.get_all(current_user).present? %>
				<%= nav_link 'Lessons', chapter_url(Chapter.get_all(current_user).first), ['chapters', 'contents', 'supports'] %>
				<%= nav_link 'Bonus', extras_path, ['pages'], ['extras'] %>
			<% end %>
			<%= nav_link 'Our interactive novel', i_hume_you_url, ['pages'], ['i_hume_you'] %>
			<%= nav_link 'Contact us', contact_path, ['pages'], ['contact', 'send_contact'] %>
		</ul>
	</div>
</div>

<div class="main-content">
	<div class="container nopadding">

		<div class="col-md-12 nopadding">

			<% if false %>
				<div id="breadcrumb">
					<%= render_breadcrumbs %>
				</div>
			<% end %>
			<% if content_for?(:sidebar) %>
				<div class="chapter-nav col-md-3 nopadding"><%= yield(:sidebar) %></div>
				<section class="col-md-9 content-wrapper">
					<%= yield %>
				</section>
			<% else %>
				<section class="content-wrapper">
					<%= yield %>
				</section>
			<% end %>
		</div>
	</div>
</div>

<footer>
	<%= render "layouts/footer" %>
</footer>
</body>

</html>
