<!DOCTYPE html>
<html>
	<head>
		<%= render 'layouts/header' %>
	</head>

  <body>
    <!-- Render flash messages-->
    <%= render 'layouts/flash' %>
    <div class="container">

      <div class="form-signin">
        <div class="form-signin-heading"><%= image_tag("logo-campus.png", :alt => "English In Context") %></div>
        <div class="login-wrap">
          <%= yield %>
          <div class="registration">
            <i class="fa fa-envelope-o" style="color: #208FC7;margin-bottom:10px;" aria-hidden="true"></i> info@englishincontext.net<br/>
            <i class="fa fa-phone" style="color: #208FC7;margin-bottom:10px;" aria-hidden="true"></i> +41 (0)32 731 01 65<br/>
            <i class="fa fa-linkedin-square" style="color: #208FC7;margin-bottom:10px;" aria-hidden="true"></i> <a href="https://www.linkedin.com/company/english-in-context" target="_blank">Link to LinkedIn</a><br/>
            <i class="fa fa-twitter-square" style="color: #208FC7;margin-bottom:10px;" aria-hidden="true"></i> <a href="https://twitter.com/Englishcontext" target="_blank">Link to Twitter</a><br/>
            <i class="fa fa-mobile-phone" style="color: #208FC7;margin-bottom:10px;" aria-hidden="true"></i> <a href="https://itunes.apple.com/ch/developer/gordon-reynolds/id667956608?l=fr" target="_blank">Apple Store</a> / <a href="https://play.google.com/store/apps/developer?id=English%20in%20context&hl=en" target="_blank">Google Play</a>
          </div>
        </div>
      </div>

    </div>
  </body>

</html>