<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; Margin: 0 !important; height: 100% !important; padding: 0 !important; width: 100% !important;">
<head style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
  <meta charset="utf-8" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
  <meta name="viewport" content="width=device-width" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
  <title style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">Let's go!</title>
  <style style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">@media screen and (max-width: 480px) {
    body, table, td, p, a, li, blockquote{-webkit-text-size-adjust:none !important;} /* Prevent Webkit platforms from
    changing default text sizes */ body{width:100% !important; min-width:100% !important; height:100% !important;
    margin:0; padding:0; } /* Prevent iOS Mail from adding padding to the body */ img{ border:0; outline:none;
    text-decoration:none; vertical-align:bottom; } /* /\/\/\/\/\/\/ MOBILE RESET STYLES /\/\/\/\/\/\/ */
    .ifk_body_cell{padding:10px !important;} /* /\/\/\/\/\/\/ FORCE FIREFOX TO FIT FULL WIDTH /\/\/\/\/\/\/ */ .ifk_body
    colgroup col{width:100% !important;} /* /\/\/\/\/\/\/ MOBILE TEMPLATE STYLES /\/\/\/\/\/\/ */ /* ======== Page
    Styles ======== */ .dinf_section_tool_button ,.dinf_empty_section ,.dinf_empty_block ,.dinf_block_tool_button {
    display:none; } /* ======== Header Styles ======== */ .ifk_container{ max-width:600px !important; /*@editable*/
    width:100% !important; } /** * @tab Mobile Styles * @section header text * @tip Make the header content text larger
    in size for better readability on small screens. We recommend a font size of at least 16px. */ .ifk_content{
    /*@editable*/ font-size:20px !important; /*@editable*/ line-height:125% !important; } /* ======== Body Styles
    ======== */ /** * @tab Mobile Styles * @section body text * @tip Make the body content text larger in size for
    better readability on small screens. We recommend a font size of at least 16px. */ .ifk_body_content{ display:block
    !important; } .ifk_btn_niak { float:none !important; } /* ======== Footer Styles ======== */ .ifk_footer {
    width:100%;} /** * @tab Mobile Styles * @section footer text * @tip Make the body content text larger in size for
    better readability on small screens. */ .ifk_footer_content{ /*@editable*/ font-size:14px !important; /*@editable*/
    line-height:115% !important; } .ifk_image{ height:auto !important; /*@editable*/ max-width:480px !important;
    /*@editable*/ width:100% !important; } .empty_template{ display: none; } /** * @tab Mobile Styles * @section spacer
    * @tip Hide the spacer block */ .space-handler{ display: none; } .space-block{ background-image: none; border: none
    !important; } /* What it does: Forces elements to resize to the full width of their container. Useful for resizing
    images beyond their max-width. */ .fluid, .fluid-centered { width: 100% !important; max-width: 100% !important;
    height: auto !important; Margin-left: auto !important; Margin-right: auto !important; } /* And center justify these
    ones. */ .fluid-centered { Margin-left: auto !important; Margin-right: auto !important; } /* What it does: Forces
    table cells into full-width rows. */ .stack-column, .stack-column-center { display: block !important; width: 100%
    !important; max-width: 100% !important; direction: ltr !important; } /* And center justify these ones. */
    .stack-column-center { text-align: center !important; } /* What it does: Generic utility class for centering. Useful
    for images, buttons, and nested tables. */ .center-on-narrow { text-align: center !important; display: block
    !important; Margin-left: auto !important; Margin-right: auto !important; float: none !important; }
    table.center-on-narrow { display: inline-block !important; } }
  </style>
</head>
<body width="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; Margin: 0 !important; height: 100% !important; padding: 0 !important; width: 100% !important; margin: 0;">
    <%= yield %>
  </body>
</html>
