<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/header" %>
</head>
<body>

  <div class="container-fluid">
    <div class="col-md-12">
        <nav>
          <ul class="nav nav-tabs nav-justified">
            <li><a href="#">Organisation Manager</a></li>
            <li><a href="<%= contents_path %>">Content Manager</a></li>
            <li><a href="#">User Manager</a></li>
          </ul>
        </nav>
    </div>
    <div class="col-md-12">
      <section>
        <%= yield %>
      </section>
    </div>
  </div>

  <footer>
    <%= render "layouts/footer" %>
  </footer>
</body>

</html>